{% extends 'WISH/index.html' %}

{% block content %}
{% load staticfiles %}

<!DOCTYPE html> <html lang="en">
 <link rel="stylesheet" href="{% static 'css/final.css' %}">
		
		<body class="body">
			<div class="container">
				<h2> About the Authors</h2>
				<p> The Development of this Web-based System of Warehouse Operation System(WOS) started on April 2015.</p><p>It is during the internship period of the developers below.  </p>
<br>
<br><br><br>
<table>
  <tr align="center">
  <td>
	<div class="col-md-12">
	<img src="pictures/c.jpg"><br> <p> Kay Apao</p>
	<p>MSU-IIT, BS Computer Science major in Software Engineering</p>
	<p><u>@gmail.com</u></p>
	<a href="https://www.facebook.com/kay.apao">Facebook</a>
	</div>
  </td>
  <td>
	<div class="col-md-12">
	<img src="pictures/d.jpg"><br><p> Jennie Ramos</p>
	<p>MSU-IIT, BS Computer Science major in Software Engineering</p>
	<p><u>@gmail.com</u></p>
	<a href="https://www.facebook.com/jennieramos06">Facebook</a>
	</div>
  </td>
  <td>
	<div class="col-md-12">
	<img src="pictures/k.jpg"><br><p>Krizza Justo</p>
	<p>MSU-IIT, BS Information Technology</p>
	<p><u>@gmail.com</u></p>
	<a href="https://www.facebook.com/kriingisred">Facebook</a>
	</div>
  </td>
  <td>
	<div class="col-md-12">
	<img src="{% static 'css/lorie.jpg' %}"><br><p> Lorie Anne Castillano</p>
	<p>MSU-IIT, BS Computer Science major in Software Engineering</p>
	<p><u>clorieanne@gmail.com</u></p>
	<a href="https://www.facebook.com/clorieanne">Facebook</a>
	</div>
  </td>
  <td>
	<div class="col-md-12">
	<img src="pictures/f.jpg"><br><p> Phillip Baldonado</p>
	<p>MSU-IIT, BS Physics</p>
	<p><u>@gmail.com</u></p>
	<a href="#">Facebook</a>
	</div>
  </td>
  </tr>
</table>
</div>
<br><br><br>

	
	<div class="footer">
      <div class="container">
        <p class="text-muted">Copyright&copy;2015 National Power Corporation </p>
      </div>
    </div>
		</body>
		
</html>


{% endblock %}
