{% extends 'WISH/index.html' %}
{% load bootstrap %}

{% block content %}

<!--Start Style-->
<style type="text/css">
        .form-group{
          width:400px;
        }
</style>
<!--End Style-->

<!--Start Header-->
<div class="page-header">
  	<h2 align="center">Add another Cost Center</h2>
</div>
<!--End Header-->

<!--Start Message-->
{%if msg%}
	<div class="alert alert-success" style="width:400px">{{ msg }}</div>
{% endif %}
<br>
<!--End Message-->

<!--Start Form-->
<form method="POST" class="irr_entry">{% csrf_token %}
		<table width="10%">
		{% for field in form %}
				<tr>
						<td style="padding:20px">
								&nbsp;&nbsp;{{field | bootstrap_horizontal:'col-lg-4'}}&nbsp;
						</td>
				</tr>
		{%endfor%}
		</table>
		<div align="center"><button type="submit" class="save btn btn-default">Save</button></div>
</form>
<!--End Form-->
{% endblock %}
