<!DOCTYPE html>
<html lang="en">
<head>
	<style type="text/css">
		table.table1, th, td.table1 {
			border: 1px solid black;
			border-collapse: collapse;
			text-align: center
		}
		th, td {
			padding: 5px
		}
	</style>
	
</head>
<body>
	<h4 align="center">National Power Corporation
	<br>
						  Mindanao Generation
	<br>
				Maria Cristina, Iligan City, Philippines
	</h4>
	<br>
	<h1 align="center">INDIVIDUAL SHEET</h1>
	<h1 align="center">CONTROLLED MATERIALS AND EQUIPMENT</h1>

	<span>Accountable Employee:&nbsp;&nbsp;&nbsp;<u>DOMINGO ASIDOY</u></span>
	<span style="padding-left:550px"></span>
	<span>Cost Center Name:&nbsp;&nbsp;&nbsp;<u>Mindanao Generation - OPD - ISTD</u></span>
	<br>
	<span>DCE NO:&nbsp;&nbsp;&nbsp;<u>INFO. SYS. & TECH. DIV</u></span>
	<span style="padding-left:600px"></span>
	<span>&nbsp;&nbsp;Date Prepared:&nbsp;&nbsp;&nbsp;<u>November 9, 2011</u></span>
	<br>
	<span>Position:&nbsp;&nbsp;&nbsp;<u>Sr. IS/IT Specialist</u></span>
	<br>
	<br>
	<br>
	
	<!--Table1-->
		<table class="table1" style='width:100%' align='center' border="1">
		  <tr>
		    <th style='width:10%'>CME NO.</th>
		    <th style='width:40%'>Description of Item</th>
		    <th>No. of Units</th>
		    <th>Unit Measure</th>
		    <th>Unit Amount</th>
		    <th>Total Amount</th>
		    <th>Date Acquired</th>
		    <th style='width:40%'>Remarks</th>
		  </tr>
		  <tr>
		    <td class="table1">398
		    	<br>
				<br>
				<br>
				<br>
				<br>
				<br>
		    </td>
		    <td class="table1">Compressor- Motor Fan, 92 watts for outdoor
		    	Unit of Kolin Aircon 
		    </td>
		    <td class="table1">1</td>
		    <td class="table1">unit</td>
		    <td class="table1">3,392.860</td>
		    <td class="table1">3,392.860</td>
		    <td class="table1">11.11.11</td>
		    <td class="table1">NA</td>
		  </tr>
		</table>
		
		<br>
		<br>
	
		<!--Table2-->
		<table style = "width:100%;" border="0">
		
		  <tr>
		    
		    <td>
				<br>
				<br>
				<br>
				<u>D.C. ASIDOY</u>
				<br>
				Accountable Employee
				<br>
				<br>
			</td>
			
			<td>
				<br>
				<br>
				<br>
				<u>LAURA R. MENDEZ</u>
				<br>
				Property Officer A
				<br>
		    	<i>MinGen</i>
		    </td>
			
			<td>
		    	<i>Noted by:</i>
		    	<br>
		    	<br>
				<br>
				<u>G.C. BAULA, JR.</u>
				<br>
		    	Cost Center Head	
		    	<br>
		    	<br>	    			    
		    </td>
		    
		    
		    
		  </tr>
		
		</table>    

	<br>
	<br>
	<br>
	<span align="left">
	Purchased from:
	</span>
	<br>
	<span align="left">
	P.O.No.:
	</span>
	<br>
	<span align="left">
	CSI No.:
	</span>
	<br>
	

	
</body>
</html>