{% extends 'WISH/index.html' %}
{% block content %}
<br><br>
<div class="container" style="width:50%;">

    <!--Start Tabing-->
    <ul class="nav nav-tabs" role="tablist">
          <li>
              <a id='inv_stat' href="{% url 'inv_stat' %}">
                  Inventory Station
              </a>
          </li>
          <li class="active">
              <a id='cc' href="{% url 'cost_center' %}" >
                  Cost Center
              </a>
          </li>
           <li>
              <a id='supplier' href="{% url 'supplier' %}">
                  Supplier
              </a>
          </li>
          <li>
              <a id='employee' href="{% url 'employee' %}">
                  Employee
              </a>
          </li>
    </ul>
    <br>
    <!--End Tabing-->

    <!--Start Buttons-->
    <div align="right"><a href="{% url 'add_cost_center' %}" class="save btn btn-info">
        <i class="glyphicon glyphicon-plus"></i> Add Cost Center</a>
        <a href="{% url 'cost_center_res' %}" class="save btn btn-info">
        <i class="glyphicon glyphicon"></i> Restore Cost Center</a></div><br>
    <!--End Buttons-->

        <!--Start Getter-->
        <div id="cc">
        <br>
  <div class="col-md-2" align='left'>
    <form action="" method="get">
      <div class="input-group">
        <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
          <input class="form-control" id="system-search2" name="q" placeholder="Search" required>
      </div>
    </form>

  </div>
{% if cc_list|length == 0 and error %}


    <div class="alert alert-warning" style="width:400px">
      {{error}}
    </div>


{% elif cc_list|length == 0 %}
    <br>
    <br>
      <div class="alert alert-warning" style="width:400px">
        No Cost Center Record(s) found.
      </div>
{% else %}

        <div class="col-md-8">
            <table class="table table-list-search2">
              {%if msg%}
           <div class="alert alert-success" style="width:400px">
             {{ msg }}
           </div>
         {% endif %}
              <thead>
                <th><center>Cost Center Name</center></th>
                <th><center>Functional Group</center></th>
              </thead>
              {% for coss in cc_list %}
              <tr>
                 <td>
                   <center><a href="{% url 'costcen_details' pk=coss.pk %}">{{coss.cost_center_name}}</a></center>
                 </td>

                 <td>
                 <center>{{coss.functional_group}}</center>
                 </td>
              </tr>
              {% endfor %}
            </table>
        </div>
        {% endif %}
        <!--End Getter-->
    </div>
</div>

<!--Start JavaScripts-->
<script type="text/javascript">
  $(document).ready(function() {
    var activeSystemClass = $('.list-group-item.active');

    //something is entered in search form
    $('#system-search2').keyup( function() {
       var that = this;
        // affect all table rows on in systems table
        var tableBody = $('.table-list-search2 tbody');
        var tableRowsClass = $('.table-list-search2 tbody tr');
        $('.search-sf').remove();
        tableRowsClass.each( function(i, val) {

            //Lower text for case insensitive
            var rowText = $(val).text().toLowerCase();
            var inputText = $(that).val().toLowerCase();
            if(inputText != '')
            {
                $('.search-query-sf').remove();
                tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                    + $(that).val()
                    + '"</strong></td></tr>');
            }
            else
            {
                $('.search-query-sf').remove();
            }

            if( rowText.indexOf( inputText ) == -1 )
            {
                //hide rows
                tableRowsClass.eq(i).hide();

            }
            else
            {
                $('.search-sf').remove();
                tableRowsClass.eq(i).show();
            }
        });
        //all tr elements are hidden
        if(tableRowsClass.children(':visible').length == 0)
        {
            tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
        }
    });
});
</script>
<!--End JavaScripts-->
{% endblock %}
