<!--style="font-family: 'Cinzel', serif;"-->
{% extends 'WISH/index.html' %}
{% block content %}
{% load bootstrap %}

<!--Start Style-->
<style type="text/css">
  .form-group{
    width:300px;
  }
</style>
<!--End Style-->

<!--Start Header-->
<div class="page-header">
   	<h2 align="center">Cost Center Record</h2>
</div>
<!--End Header-->

<!--Start Message-->
{%if msg%}
<div class="alert alert-success" style="width:400px">
    {{ msg }}
</div>
{% endif %}
<!--End Message-->

<!--Start Form-->
<form method="POST" class="product-form">{% csrf_token %}
  <table width="50%" align="center" >
      {% for field in form %}
      {{field | bootstrap}}&nbsp;&nbsp;&nbsp;
      {%endfor%}
  </table>
  <div align="center"><button type="submit" class="save btn btn-default">Save</button>
</form>
  <a href= "{% url 'cost_center' %}" name="cancel" class="save btn btn-default">Cancel</a>
  </div>

<!--End Form-->
{% endblock %}
