{% extends 'WISH/index.html' %}

<style type="text/css">
  body {
    margin: 5px;
    background: #A6A6A6
}
/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

/* Tab Content */
.tab-pane {
    background: #F5F5F5;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}

</style>
{% block content %}
{% load staticfiles %}

<div class="container" style="width:50%;">

<ul class="nav nav-tabs" role="tablist">
      <li>
          <a id='inv_stat' href="{% url 'inv_stat' %}">
              Inventory Station
          </a>
      </li>
      <li >
          <a id='cc' href="{% url 'cost_center' %}" >
              Cost Center
          </a>
      </li>
       <li>
          <a id='supplier' href="{% url 'supplier' %}">
              Supplier
          </a>
      </li>
      <li class="active">
          <a id='employee' href="{% url 'employee' %}">
              Employee
          </a>
      </li>
    </ul>
<br>
<div align="right"><a href="{% url 'WISH.views.employee_lib' %}" class="save btn btn-default">Add Employee</a></div><br>
<div id="employee">
{% if em_list|length == 0 %}
<br>
<br>
  <div class="alert alert-warning" style="width:400px">
    No records found.
  </div>
{% else %}
<br>

{% if em_list|length <= 6  %}
  <div class="col-md-2"></div>
  {% else %}
  <div class="col-md-4">
    <form action="#" method="get">
      <div class="input-group">
        <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
          <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
      </div>
    </form>
  </div>
  {% endif %}
<div class="col-md-8">
  <table class="table table-list-search5">
   <thead>
     <tr>
       <th>DCE</th>
       <th>Name</th>
     </tr>
   </thead>
{% for ems in em_list %}
  <tr>
   <td>
     <a href="{% url 'WISH.views.employee_details' dce=ems.dce %}">
       {{ems.dce}}
     </a>
   </td>

   <td>
       {{ems.name}}
   </td>


 </tr>
{% endfor %}
</table>
  {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/employee?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/employee?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
   {% endif %}
  </div>
  {% endif %}
  </div>
  </div>

  <script type="text/javascript">
  $(document).ready(function() {
    var activeSystemClass = $('.list-group-item.active');

    //something is entered in search form
    $('#system-search5').keyup( function() {
       var that = this;
        // affect all table rows on in systems table
        var tableBody = $('.table-list-search5 tbody');
        var tableRowsClass = $('.table-list-search5 tbody tr');
        $('.search-sf').remove();
        tableRowsClass.each( function(i, val) {

            //Lower text for case insensitive
            var rowText = $(val).text().toLowerCase();
            var inputText = $(that).val().toLowerCase();
            if(inputText != '')
            {
                $('.search-query-sf').remove();
                tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                    + $(that).val()
                    + '"</strong></td></tr>');
            }
            else
            {
                $('.search-query-sf').remove();
            }

            if( rowText.indexOf( inputText ) == -1 )
            {
                //hide rows
                tableRowsClass.eq(i).hide();

            }
            else
            {
                $('.search-sf').remove();
                tableRowsClass.eq(i).show();
            }
        });
        //all tr elements are hidden
        if(tableRowsClass.children(':visible').length == 0)
        {
            tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
        }
    });
});
  </script>
{% endblock %}
