{% extends 'WISH/index.html' %}
{% load staticfiles %}
 {% block content %}
<html>
    <head>
        <title>Employee Details</title>
        <style type="text/css" >
        	table, th, td{
        		text-align: left;
            }
        	th, td {
        		padding: 5px
        	}
        </style>
    </head>
<br><br>
    <body>
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/details.css' %}">
      <div class="container">
              <div class="row text-center">
                  <div class="col-md-12" style="margin-top: 20px;">
                      <div class="pricing-table">
                          <div class="panel panel-primary" style="border: none;">
                              <div class="controle-header panel-heading panel-heading-landing">
                                  <h1 class="panel-title panel-title-landing">
                                    Employee
                                  </h1>
                              </div>
                              <div class="controle-panel-heading panel-heading panel-heading-landing-box">
                                  Details
                              </div>
                              <div class="panel-body panel-body-landing">
                                  <table class="table">
                                      <tr>
                                          <td width="50%">DCE :</td>
                                          <td>{{em.dce}}</td>
                                      </tr>
                                      <tr>
                                          <td width="200px">Name : </td>
                                          <td>{{em.name}}</td>
                                      </tr>

                                      <tr>
                                          <td width="200px">Charging CC No.:</td>
                                          <td>{{em.charging_cc_no}}</td>
                                      </tr>

                                      <tr>
                                          <td width="50px">Position:</td>
                                          <td>{{em.position}}</td>
                                      </tr>

                                      <tr>
                                          <td width="200px">Cost Center Number:</td>
                                          <td>{{em.cost_center_no}}</td>
                                      </tr>

                                  </table>
                              </div>
                              <div class="panel-footer panel-footer-landing">
                                  <a href="{% url 'emp_entry' dce=em.dce %}" class="btn btn-price btn-info btn-lg">Edit</a>
                                  <a href="{% url 'emp_del' pk=em.pk %}" class="btn btn-price btn-info btn-lg">Delete</a>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </body>

</html>

{% endblock %}
