{% extends 'WISH/index.html' %}


{% block content %}
<br>
<div class="container" style="width:50%;">

    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
          <a id='irrb' href="#irr" role="tab" data-toggle="tab">
              IRR Reports
          </a>
      </li>
      <li><a id='mivb' href="{% url 'WISH.views.miv_reports' %}" >
              MIV Reports
          </a>
      </li>
       <li>
          <a id='wrsb' href="#wrs" role="tab" data-toggle="tab">
              WRS Reports
          </a>
      </li>
      <li>
          <a id='parb' href="#par" role="tab" data-toggle="tab">
              PAR Reports
          </a>
      </li>
      <li>
          <a id='garvb' href="#garv" role="tab" data-toggle="tab">
              GARV Reports
          </a>
      </li>
    </ul>

<!-- Tab panes -->
    <div class="tab-content" >
      <div class="tab-pane fade active in" id="irr">
          <script>
            $(function(){
              $("#irr").load("{% url 'WISH.views.irr_reports' %}");
            });
          </script>
      </div>
      <div class="tab-pane fade" id="miv">
          <script>
          $(function(){
            $("#miv").load("{% url 'WISH.views.miv_reports' %}");
          });
          </script>
      </div>
      <div class="tab-pane fade" id="wrs">
          <script>
          $(function(){
            $("#wrs").load("{% url 'WISH.views.wrs_reports' %}");
          });
          </script>
      </div>
      <div class="tab-pane fade" id="par">
          <script>
          $(function(){
            $("#par").load("{% url 'WISH.views.par_reports' %}");
          });
          </script>
      </div>
      <div class="tab-pane fade" id="garv">
          <script>
          $(function(){
            $("#garv").load("{% url 'WISH.views.garv_reports' %}");
          });
          </script>
      </div>
    </div>
</div>
<script type="text/javascript">
  $('#irrb').click(function(){
       $("#system-search2").val('');
       $("#system-search3").val('');
       $("#system-search4").val('');
       $("#system-search5").val('');
   });
  $('#mivb').click(function(){
       $("#system-search").val('');
       $("#system-search3").val('');
       $("#system-search4").val('');
       $("#system-search5").val('');
   });
  $('#wrsb').click(function(){
       $("#system-search").val('');
       $("#system-search2").val('');
       $("#system-search4").val('');
       $("#system-search5").val('');
   });
  $('#parb').click(function(){
       $("#system-search").val('');
       $("#system-search2").val('');
       $("#system-search3").val('');
       $("#system-search5").val('');
   });
  $('#garvb').click(function(){
       $("#system-search").val('');
       $("#system-search2").val('');
       $("#system-search3").val('');
       $("#system-search4").val('');
   });
</script>

{% endblock %}
