{% extends 'WISH/index.html' %}
{% block content %}
<div class="container" style="width:60%;">

<!--Start Tabbing-->
<ul class="nav nav-tabs" role="tablist">
      <li>
          <a id='irrb' href="{% url 'irr_reports' %}">
              IRR Reports
          </a>
      </li>
      <li>
          <a id='mivb' href="{% url 'miv_reports' %}" >
              MIV Reports
          </a>
      </li>
       <li>
          <a id='wrsb' href="{% url 'wrs_reports' %}">
              WRS Reports
          </a>
      </li>
      <li>
          <a id='parb' href="{% url 'par_reports' %}">
              PAR Reports
          </a>
      </li>
      <li class="active">
          <a id='garvb' href="{% url 'garv_reports' %}">
              GARV Reports
          </a>
      </li>
</ul>
<!--End Tabbing-->

<!--Start Body-->
<div id="garv">
<br>
<div class="col-md-4">
    <form action="" method="get">
      <div class="input-group">
        <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
          <input class="form-control" id="system-search5" name="q" placeholder="Search for" required>
      </div>
    </form>
  </div>
  <br><br><br>
{% if garv_list|length == 0 and error %}

  <div class="alert alert-warning" style="width:400px">
      {{error}}
    </div>


{% elif garv_list|length == 0 %}
<br>
<br>
  <div class="alert alert-warning" style="width:400px">
    No GARV Record(s) found for this month.
  </div>
{% else %}

<div class="col-md-8">
       <table class="table table-list-search5">
       {%if msg%}
           <div class="alert alert-success" style="width:400px">
             {{ msg }}
           </div>
         {% endif %}
        <thead>
          <tr>
    	      <th>GARV NO.</th>
            <th>RETURNED BY:</th>
            <th>GARV DATE:</th>
            <th>NOTED BY:</th>
          </tr>
        </thead>
   	{% for garv in garv_list %}
     	<tr>
        <td>
          <a href="{% url 'garv_form' pk=garv.garv_no %}">
            {{garv.garv_no}}
          </a>
        </td>
        <td>
            {{garv.dce.name}}
        </td>
        <td>
            {{garv.garv_date}}
        </td>
        <td>
            {{garv.noted_by}}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/garv_reports?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/garv_reports?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
   {% endif %}
  </div>
  {% endif %}
</div>
<!--End Body-->

<!--Start JavaScript-->
<script type="text/javascript">
  $(document).ready(function() {
    var activeSystemClass = $('.list-group-item.active');

    //something is entered in search form
    $('#system-search5').keyup( function() {
       var that = this;
        // affect all table rows on in systems table
       var tableBody = $('.table-list-search5 tbody');
        var tableRowsClass = $('.table-list-search5 tbody tr');
        $('.search-sf').remove();
        tableRowsClass.each( function(i, val) {

            //Lower text for case insensitive
            var rowText = $(val).text().toLowerCase();
            var inputText = $(that).val().toLowerCase();
            if(inputText != '')
            {
                $('.search-query-sf').remove();
                tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                    + $(that).val()
                    + '"</strong></td></tr>');
            }
            else
            {
                $('.search-query-sf').remove();
            }

            if( rowText.indexOf( inputText ) == -1 )
            {
                //hide rows
                tableRowsClass.eq(i).hide();

            }
            else
            {
                $('.search-sf').remove();
                tableRowsClass.eq(i).show();
            }
        });
        //all tr elements are hidden
        if(tableRowsClass.children(':visible').length == 0)
        {
            tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No such IRR entry found for this MONTH.</td></tr>');
        }
    });
});
</script>
<!--End JavaScript-->
{% endblock %}
