{% extends 'WISH/index.html' %}
{% block content %}
<div class="container" style="width:60%;">

<ul class="nav nav-tabs" role="tablist">
      <li>
          <a id='irrb' href="{% url 'irr_reports' %}">
              IRR Reports
          </a>
      </li>
      <li>
          <a id='mivb' href="{% url 'miv_reports' %}" >
              MIV Reports
          </a>
      </li>
       <li>
          <a id='wrsb' href="{% url 'wrs_reports' %}">
              WRS Reports
          </a>
      </li>
      <li>
          <a id='parb' href="{% url 'par_reports' %}">
              PAR Reports
          </a>
      </li>
      <li class="active">
          <a id='garvb' href="{% url 'garv_reports' %}">
              GARV Reports
          </a>
      </li>
    </ul>
<div id="garv">
{% if garv_list|length == 0 %}
<br>
<br>
  <div class="alert alert-warning" style="width:400px">
    No GARV Record(s) found.
  </div>
{% else %}
<br>
{% if garv_list|length <= 0  %}
  <div class="col-md-2"></div>
  {% else %}
  <div class="col-md-4">
    <form action="" method="get">
      <div class="input-group">
        <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
          <input class="form-control" id="system-search5" name="q" placeholder="Search for" required>
      </div>
    </form>
  </div>
  {% endif %}
<div class="col-md-8">
       <table class="table table-list-search5">
        <thead>
          <tr>
    	      <th>GARV NO.</th>
            <th>RETURNED BY:</th>
            <th>GARV DATE:</th>
            <th>NOTED BY:</th>
          </tr>
        </thead>
   	{% for garv in garv_list %}
     	<tr>
        <td>
          <a href="{% url 'garv_form' pk=garv.garv_no %}">
            {{garv.garv_no}}
          </a>
        </td>

        <td>
            {{garv.dce.name}}
        </td>

        <td>
            {{garv.garv_date}}
        </td>

        <td>
            {{garv.noted_by}}
        </td>

      </tr>
    {% endfor %}
  </table>
  {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/garv_reports?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/garv_reports?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
   {% endif %}
  </div>
  {% endif %}
</div>
  
{% endblock %}
