<!DOCTYPE html>


{% load staticfiles %}

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'css/forms_style.css' %}">

		<title>garv_form</title>
	</head>

	<body>
		<center>
		    <div style="width:1169px;height:826px;border:1px solid #000;">

				    	<img src="{% static 'css/npclogo.png' %}" class="left_marg_npclogo" align="left">
				    	&nbsp;
				    	<p align="left" class="left_marg_par">Republic of the Philippines<br>National Power Corporation<br>MINDANAO GENERATION<br>(MINGEN)<br>Maria Cristina, Iligan City</p> <br><br><br>

				    	<h1 align="center">GPE ACCOUNTABILITY RELIEF VOUCHER</h1>

				    	<p align ="right" class="right_marg_norm">Date: <u>{{ garvs.garv_date }}</u></p>

		    	<table style="width: 95%">
		    		<tr>
		    			<td>DCE NUMBER: <u>{{ garvs.dce.name }}</u></td>
		    			<td>ACCOUNTABLE PERSON:<u>{{ garvs.dce.name }}</u> </td>
		    			<td>DESIGNATION: <u>{{ garvs.dce.position }}</u></td>
		    		</tr>
		    		<tr>
		    			<td>CC NUMBER: <u>{{ garvs.dce.charging_cc_no }}</u></td>
		    			<td colspan="2">COST CENTER NAME: <u>{{ garvs.dce.cost_center_no.cost_center_name }}&nbsp;&nbsp;</u></td>
		    		</tr>
		    		<tr>
		    			<td>WO NUMBER: <u>{{ garvs.wo_number.wo_no }}</u> </td>
		    			<td colspan="2">WORK ORDER NAME: </td>
		    		</tr>
		    	</table>

		    	<table style="width: 95%" class="tbl3">
		    		<tr>
		    			<th style="text-align: center">PROPERTY NUMBER</th>
		    			<th style="text-align: center">DESCRIPTION</th>
		    			<th style="text-align: center">QTY</th>
		    			<th style="text-align: center">UM</th>
		    			<th style="text-align: center">PAR NUMBER</th>
		    			<th style="text-align: center">NTR.</th>
		    			<th style="text-align: center">REMARKS<br>(Findings/Observations)</th>
		    		</tr>
						{% for product in products%}
		    		<tr>
		    			<td>{{ product.pros.id }}</td> <!--PROPERTY NUMBER-->
		    			<td>{{ product.pros.item_name }} - {{ product.pros.description }}</td> <!--DESCRIPTION-->
		    			<td>{{ product.pros.unit_measure }}</td> <!--QTY-->
		    			<td>{{ product.pros.quantity }}</td> <!--UM-->
		    			<td>{{ product.PAR_number }}</td> <!--PAR NUMBER-->
		    			<td></td> <!--NTR-->
		    			<td>{{ product.Remarks }}</td> <!--REMARKS-->
		    		</tr>
		    	</table>
					{% endfor %}
		    	<table style="width: 95%" class="tbl3">
		    		<tr>
		    			<td>NATURE:</td>
		    			<td class="garv">1-RETURN</td>
		    			<td class="garv">2-CONDONATION</td>
		    			<td>3-REFUND</td>
		    		</tr>
		    	</table>

		    	<table style="width: 95%" class="tbl3">
		    		<tr>
		    			<td>Returned by:<center><br> <u>{{ garvs.dce.name }}</u>
							<br>
			        ACCOUNTABLE PERSON<br>
			        DATE: {{ garvs.garv_date }}</center></td>
		    			<td>Inspected/Confirmed by:<br><center><u>{{ garvs.inspected_by.name }}</u>
							<br>
							TECH. PROP. INSP. COA
							<br>
							DATE: {{ garvs.date_inspected }} </center></td>
		    			<td>Received/Confirmed by:<center><br><u>{{ garvs.confirmed_by.name }}</u>
							<br>
			        PROP. OFF/CUSTODIAN
							<br>
							DATE: {{ garvs.date_confirmed }}
							<span style="padding-left:30px"></span>
			        DCE: {{ garvs.confirmed_by.dce }}</center> </td>
		    			<td>Noted by: <center><br><u>{{ garvs.noted_by.name }}</u>
							<br>
							WMICD/MMO/COST CENTER</center></td>
		    			<td rowspan="2">GARV NO<center><br>{{ pro.garv.garv_no }}
				    	<br>
				    	(IS No. {{ garvs.wo_number.inv_station_no.inv_station_no }})</center></td>
		    		</tr>

		    	</table>


		    	<p align="left" class="left_marg_garv">"The accountable employee is responsible for the issued property items, subject to the provisions of the National Accounting and Auditing Laws."<br>
		    	Purchased from: {{ pro.product.product.purchased_from.supplier_name }}<br>
		    	P.O. No.: {{ garvs.wo_number.po_number }}<br>
		    	CSI No.: {{ garvs.wo_number.invoice_number}}</p>
		    </div>
		</center>
	</body>
