<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<div class="container" style="padding:30px">
		<!--To add PSALM logo-->
		<h4 align="center">GATE PASS FORM</h4>
		<br>
		<p align="right" style="margin-top:0px;margin-bottom:0px;"><u>&nbsp;&nbsp;November 9, 2011&nbsp;&nbsp;</u></p>
		<p align="right" style="padding-right:65px;margin-top:0px;margin-bottom:0px;">Date</p>
		<p align="left" style="font-size:80%;">GATE PASS NO&nbsp;&nbsp;<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
			<br>
			<br>
				FOR:<span style="padding-left:90px;"></span><b>THE SECURITY GUARD ON DUTY</b>
			<br>
				<span style="padding-left:155px;"></span>MinGen Central Warehouse
			<br>
				<span style="padding-left:175px;"></span>Ditucalan, Iligan City
			<br>
			<br>
				<b>The Installation Head/The Chief Security Officer</b>
				<br>
				<span style="padding-left:50px;"></span>
				Approval of this gate pass to bring out of 

		</p>
		

		

	</div>
</body>
</html>	