{% block content %}
{% load staticfiles %}
{% load bootstrap %}

<link href="{% static 'css/handsontable.full.css' %}" rel="stylesheet">
<script src="{% static 'js/handsontable.full.js' %}"></script>
<link href="{% static 'css/handsontable.full.min.css' %}" rel="stylesheet">
<script src="{% static 'js/handsontable.full.min.js' %}"></script>
<!--AJAX request and response-->
<script type="text/javascript" src="{% static 'js/jquery.ajax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ajax-plugin.min.js' %}"></script>
<br>
  <form method="POST" id="post-form" action="{% url 'new_irr_cont' inv=inv sup=sup pk=pk%}">{% csrf_token %}
  <table style="margin-left:25px">
      <tr>
        <td width="30%">
        <div id="handson" style="margin-right:30px"></div>
        </td>
        <td style="padding:20px">
          {% for field in iform %}
             {{field | bootstrap_horizontal:'col-lg-4'}}<br><br>
          {%endfor%}
        </td>
      </tr>
    </table>
    <div align="center">
      <a class="save btn btn-default" data-toggle="modal" data-target="#product">Add Items</a>
      {% if prods|length != 0%}
      <button id="delete" name="delete" type="submit" class="save btn btn-default">Delete Items</button>
      {% endif %}
      <button name="save" type="submit" class="save btn btn-default">Save</button>
      <button name="cancel" type="submit" class="save btn btn-default">Cancel</button>
    </div>
  </form>
  <br><br>
    
<script type="text/javascript">
    var
      nestedObjects = [
        {% if prod_to_irr|length %}
        {% for prod in prod_to_irr %}
          {product: '{{prod.product}}', qty_a: '{{prod.qty_a}}', qty_r: '{{prod.qty_r}}', qty_b: '{{prod.qty_b}}'},
        {% endfor %}
        {% else %}
        {% for prod in prods %}
          {product: '{{prod.id}}', qty_a: 1, qty_r: 0, qty_b: 0},
        {% endfor %}
        {% endif %}
      ],
      container4 = document.getElementById('handson'),
      hot4;

      hot4 = new Handsontable(container4, {
      data: nestedObjects,
      colHeaders: [
        'PRODUCT ID *',
        'QUANTITY ACCEPTED *',
        'QUANTITY REJECTED *',
        'QUANTITY BALANCE *'
      ],
      columns: [
        {data: 'product'},
        {data: 'qty_a'},
        {data: 'qty_r'},
        {data: 'qty_b'}
      ],
      outsideClickDeselects: false,
    });
    alert = function() {};
    $('#post-form').on('submit', function(){
      ajaxPost("{% url 'list_view' %}", {"data": JSON.stringify(hot4.getData())},
       function(content){
        console.log(content);
       });
    });
    $('#delete').on('click', function () {
      var selection = hot4.getSelected();
      console.log(selection);
      if (selection[0] == 0){
        hot4.alter('remove_row', selection[0], (parseInt(selection[2])+1));
      }
      else{
        hot4.alter('remove_row', selection[0], selection[2]);
      }
      ajaxPost("{% url 'list_view' %}", {"data": JSON.stringify(selection[0]), 
                              "data2": JSON.stringify(selection[2]), "delete":1});
    });
</script>
{% endblock %}