{% block content %}
{% load staticfiles %}
{% load bootstrap %}

<link href="{% static 'css/handsontable.full.css' %}" rel="stylesheet">
<script src="{% static 'js/handsontable.full.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<link href="{% static 'css/handsontable.full.min.css' %}" rel="stylesheet">
<script src="{% static 'js/handsontable.full.min.js' %}"></script>
<!--AJAX request and response-->
<script type="text/javascript" src="{% static 'js/jquery.ajax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ajax-plugin.min.js' %}"></script>
<br><br>
  <form method="POST" id="post-form" action="{% url 'new_irr_cont' inv=inv sup=sup pk=pk%}">{% csrf_token %}
    <table style="margin-left:90px">
      <tr>
        <td width="30%">
          {% if prods|length != 0%}
          <div id="handson">
          </div>
          {% else %}
          No products added yet.
          {% endif %}
          <br><br>
          <div align="center"><a class="save btn btn-default" data-toggle="modal" data-target="#product">Add Items</a></div>
        </td>
        <td style="padding:20px">
          {% for field in iform %}
             &nbsp;&nbsp;{{field | bootstrap_horizontal:'col-lg-4'}}&nbsp;&nbsp;&nbsp;
          {%endfor%}
        </td>
      </tr>
    </table>
    <div align="center"><button name="save" type="submit" class="save btn btn-default">Save</button></div>
  </form>
    <br><br>
{% if irr %}
<script type="text/javascript">

    var
      nestedObjects = [
        {% for prod in prods %}
          {product: '{{prod.id}}'},//, select: false},
        {% endfor %}
      ],
      container4 = document.getElementById('handson'),
      hot4;

      hot4 = new Handsontable(container4, {
      data: nestedObjects,
      colHeaders: [
        'PRODUCT ID *',
        'QUANTITY ACCEPTED *',
        'QUANTITY REJECTED *',
        'QUANTITY BALANCE *'
      ],
      columns: [
        {data: 'product'},
        {data: 'qty_a'},
        {data: 'qty_r'},
        {data: 'qty_b'}
      ],
    });
    
    $('#post-form').on('submit', function(event){
    ajaxPost("{% url 'list_view' %}", {"data": JSON.stringify(hot4.getData())},
      function(content){
            alert(content);
        });
    });
</script>
<!-- FOR PAR RECORD -->
{% else %}
<script type="text/javascript">
    var
      nestedObjects = [
        {% for prod in prods %}
          {product: '{{prod.id}}'},//, select: false},
        {% endfor %}
      ],
      container4 = document.getElementById('handson'),
      hot4;

      hot4 = new Handsontable(container4, {
      data: nestedObjects,
      colHeaders: [
        'PRODUCT ID *',
        'QUANTITY *',
      ],
      columns: [
        {data: 'product'},
        {data: 'qty'}
      ],
    });
    
    $('#post-form').on('submit', function(event){
    ajaxPost("{% url 'list_view' %}", {"data": JSON.stringify(hot4.getData())},
      function(content){
            alert(content);
        });
    });
</script>
{% endif %}
{% endblock %}
