{% block content %}
{% load staticfiles %}


<link href="{% static 'css/handsontable.full.css' %}" rel="stylesheet">
<script src="{% static 'js/handsontable.full.js' %}"></script>
<link href="{% static 'css/handsontable.full.min.css' %}" rel="stylesheet">
<script src="{% static 'js/handsontable.full.min.js' %}"></script>


{% for prod in prods%}
        {{prod}}
{% endfor %} 
<div id="handson">
</div>

<script type="text/javascript">

    var
      nestedObjects = [
        {% for prod in prods %}
          {slc: '{{prod.nsn}}', name: '{{prod.generic_name}}', select: false},
        {% endfor %}
      ],
      container4 = document.getElementById('handson'),
      hot4;

      hot4 = new Handsontable(container4, {
      data: nestedObjects,
      colHeaders: [
        'SLC NUMBER',
        'PRODUCT NAME',
        'QUANTITY ACCEPTED',
        'QUANTITY REJECTED',
        'QUANTITY BALANCE',
        'SELECT',
      ],
      columns: [
        {data: 'slc'},
        {data: 'name'},
        {data: 'qty_a'},
        {data: 'qty_r'},
        {data: 'qty_b'},
        {data: 'select', type: 'checkbox'}
      ],
      minSpareRows: 1,
    });

</script>

{% endblock %}
