<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	    <script src="{% static 'js/dropdown.min.js' %}"></script>

			<!--Datepicker-->
      <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" type="text/css" media="all" rel="stylesheet">
      <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>


	</head>

	<body style="padding-right:0px; padding-left:0px; padding-top: 0px">
		<header id="headerback">
      		<img src ="{% static 'css/header.png' %}" style="width:100%">
    	</header>

		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~NAVIGATION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

		 <nav id="navbar"class="navbar navbar-inverse">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <div class = "navbar-brand" id = "inv"> Inventory </div>
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	        </div>

	        <div class="collapse navbar-collapse" id="myNavbar">
	          <ul class="nav navbar-nav">

	            <li class="active"><a href="{% url 'WISH.views.index' %}">Dashboard</a></li>

	            <li class="dropdown">
	              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Add Records<span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a href="{% url 'WISH.views.product_new' %}">Add Product Record</a></li>
	                <li class="dropdown-submenu"><a href="#">Add File Record</a>
	                	<ul class="dropdown-menu">
	                		<li><a href="{% url 'WISH.views.irr_entry' %}">Add IRR Record</a></li>
	                		<li><a href="{% url 'WISH.views.miv_entry' %}">Add MIV Record</a></li>
	                		<li><a href="{% url 'WISH.views.par_f' %}">Add PAR Record</a></li>
	                		<li><a href="{% url 'WISH.views.garv_entry_f'%}">Add GARV Record</a></li>
	                	</ul>
	                </li>
	              </ul>
	            </li>

	            <li class="dropdown">
	              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports<span class="caret"></span></a>
	              <ul class="dropdown-menu">
	              	<li><a href="{% url 'WISH.views.file_report' %}">File Reports</a></li>
	              	<li><a href="{% url 'WISH.views.product_reports' %}">Product Reports</a></li>
	              </ul>
	            </li>

							<li class="dropdown">
								<li><a href="{% url 'WISH.views.libraries' %}"><span ></span> Libraries </a></li>

	            </li>
	          </ul>

	          <ul class="nav navbar-nav navbar-right">
							<li><a href="#"><span ></span> About Us</a></li>
	           <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
	          </ul>
	        </div>
	      </div>
	    </nav>
			<div align="center">
				{% block content %}

	    <h1 align="center">Welcome</h1>

			<br>
			{%if msg%}
			<div class="alert alert-success" style="width:400px">
					{{ msg }}
			</div>
			{% endif %}
	  		{% endblock %}


		</div>
	</body>
</html>
