{% block content %}
{% load staticfiles %}
{% load endless %}
{% paginate inv %}

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% static 'endless/js/endless-pagination.js' %}"></script>
<script>$.endlessPaginate({pageSelector: 'div#entries'});</script>

<br>
<div align="right"><a href="{% url 'WISH.views.stat_lib' %}" class="save btn btn-default">Add Inventory station</a></div><br>
<div class="col-md-3">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                </div>
              </form>

</div>
<div class="col-md-9">

       <table class="table table-list-search">

    <thead>
     	<th><center>Inventory station no</center></th>
      <th><center>Inventory station name</center></th>
    </thead>

    <div id="entries"class="endless_page_template">
      {% include 'WISH/inv_stat_page.html' %}
    </div>

    {% get_pages %}
    {% if pages.paginated %}
        {{ pages }}
    {% endif %}

  </table>
  <script type="text/javascript">
  $(document).ready(function() {
    var activeSystemClass = $('.list-group-item.active');

    //something is entered in search form
    $('#system-search').keyup( function() {
       var that = this;
        // affect all table rows on in systems table
        var tableBody = $('.table-list-search tbody');
        var tableRowsClass = $('.table-list-search tbody tr');
        $('.search-sf').remove();
        tableRowsClass.each( function(i, val) {

            //Lower text for case insensitive
            var rowText = $(val).text().toLowerCase();
            var inputText = $(that).val().toLowerCase();
            if(inputText != '')
            {
                $('.search-query-sf').remove();
                tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                    + $(that).val()
                    + '"</strong></td></tr>');
            }
            else
            {
                $('.search-query-sf').remove();
            }

            if( rowText.indexOf( inputText ) == -1 )
            {
                //hide rows
                tableRowsClass.eq(i).hide();

            }
            else
            {
                $('.search-sf').remove();
                tableRowsClass.eq(i).show();
            }
        });
        //all tr elements are hidden
        if(tableRowsClass.children(':visible').length == 0)
        {
            tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
        }
    });
});
  </script>
{% endblock %}
