{% extends 'WISH/index.html' %}
 {% block content %}
<html>
    <head>
        <title>Inventory station details</title>
        <style type="text/css" >
        	table, th, td{
        		border: 1px solid black;
        		border-collapse: collapse;
        		text-align: left;
            font-weight: italic;
        	}
        	th, td {
        		padding: 5px
        	}
        </style>
      <div class="page-header">
        <h2 align="center"><b>Inventory Station Details</b></h2>
      </div>
    </head>
<br><br>
    <body>
      <table style="width:30%;" align="center" bgcolor="#00FF00">
        <tr>
          <td >
            <b>Inventory station no. :</b><br> <center>{{invs.inv_station_no}}</center>
          </td>

        </tr>
        <tr>

          <td>
            <b>Inventory station name : </b><br><center>{{invs.station_description}}</center>
          </td>

        <tr>
          <td>
            <b>Cost center:</b> <br><center>{{invs.cost_center_no}}</center>
          </td>

        </tr>



      </table>
      <br><br
      <div align="center"><a href="{% url 'invstat_entry' pk=invs.pk %}" class="save btn btn-default">Edit</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'invstat_del' pk=invs.pk %}" class="save btn btn-default">Delete</a></div>

    </body>

</html>

{% endblock %}
