{% extends 'WISH/index.html' %}
{% load staticfiles %}
 {% block content %}
<html>
    <head>
        <title>Inventory station details</title>
        <style type="text/css" >
        	table, th, td{
        		text-align: left;
        	}
        	th, td {
        		padding: 5px
        	}
        </style>
    </head>
<br><br>
    <body>
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/details.css' %}">
      <div class="container">
              <div class="row text-center">
                  <div class="col-md-12" style="margin-top: 20px;">
                      <div class="pricing-table">
                          <div class="panel panel-primary" style="border: none;">
                              <div class="controle-header panel-heading panel-heading-landing">
                                  <h1 class="panel-title panel-title-landing">
                                    Inventory Station
                                  </h1>
                              </div>
                              <div class="controle-panel-heading panel-heading panel-heading-landing-box">
                                  Details
                              </div>
                              <div class="panel-body panel-body-landing">
                                  <table class="table">
                                      <tr>
                                          <td width="50%">Inventory Station No. :</td>
                                          <td>{{invs.inv_station_no}}</td>
                                      </tr>
                                      <tr>
                                          <td width="50px">Inventory Station Name : </td>
                                          <td>{{invs.station_description}}</td>
                                      </tr>
                                  </table>
                              </div>
                              <div class="panel-footer panel-footer-landing">
                              {% if request.user.is_superuser %}
                                  <a href="{% url 'invstat_entry' pk=invs.pk %}" class="btn btn-price btn-info btn-lg">Edit</a>
                                  <a href="{% url 'invstat_del' pk=invs.pk %}" class="btn btn-price btn-info btn-lg">Delete</a>
                              {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </body>

</html>

{% endblock %}
