<html>
    <head>
        <title>irr_form</title>
        <style type="text/css">
        	table, th, td{
        		border: 1px solid black;
        		border-collapse: collapse;
        		text-align: left;
        	}
        	th, td {
        		padding: 5px
        	}
        </style>
    </head>
    <body>
    	<div>
        	<span align="left" > Republic of the Philippines</span>
        	<span style="padding-left:985px;"></span>
          	<span align="right"> Mindanao Regional Center</span>
        </div>
        <div><span align ="left">National Power Corporation</span>
        	<span style="padding-left:880px;"></span>
        	<span align="right"> Mindanao Generation-Central WareHouse</span>
        </div>
        <h3 align="center"> INSPECTION AND RECEIVING REPORT </h3> 
        <form action="">
				<input type="checkbox" name="type" value="">Materials for Operations<br>
				<input type="checkbox" name="type" value="">Materials for project
				<span style="padding-left:1200px;"></span>
				{% for irr in irrs %}
				<span align ="right">Date: {{irr.proc_date}}</span>
				{% endfor %}
		</form>																			

		<table style="width:100%;" align="center" >
			<tr>
				{% for supplier in suppliers %}
				<td rowspan="2" colspan="2">Supplier Name: {{supplier.supplier_name}}</td>
				
				<td rowspan="2" colspan="1">Supplier DCE: {{supplier.supplier_num}}</td>
				{% endfor %}
				<td colspan="5" style="text-align:center;">For materials transferred/transshipped</td>
			</tr>
			<tr>
				{% for employee in employees %}
				<td colspan="3">I/Prop.Cust: {{employee.name}}</td>
				<td colspan="2">DCE:{{employee.dce}}</td>
				{% endfor %}
			</tr>
			<tr>
				<td colspan="2">
						<input type="checkbox" name="type" value="">PO
						<input type="checkbox" name="type" value="">RPO
						<input type="checkbox" name="type" value="">LPO
						<input type="checkbox" name="type" value="">SCL
						<input type="checkbox" name="type" value="">IO
						<input type="checkbox" name="type" value="">SCF No.
				</td>
				<td>Invoice No.</td>
				<td>Date Dlvrd</td>
				<td colspan="2">Issuing Inventory Station</td>
				<td>MTI No.</td>
				<td>BL No.</td>
			</tr>
			<tr>
				<th style="width:5%;">item</th>
				<th style="width:12%;">NPC Supp No.</th>
				<th>Particulars</th>
				<th style="width:12%;">Qty Accepted</th>
				<th style="width:12%;">Qty Rejected</th>
				<th style="width:5%;">Unit</th>
				<th style="width:12%;">Unit Price</th>
				<th style="width:15%;">Amount</th>
			</tr>
			<tr>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
			</tr>
			<tr>
				<td colspan="8">Findings/Observations:</td>
			</tr>
			<tr>
				<td style="text-align:center" colspan="2">Inspected & Accepted By:<br><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br>QA/Deputized Inspector<br>DCE:<br>Date of inspection:</td>
				<td style="text-align:center" >Recieved By:<br><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br>Property Custodian<br>DCE:<br>Date of inspection:</td>
				<td style="text-align:center" colspan="3">Approved By:<br><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br>IS Cost Center Head<br>DCE:<br>Date of inspection:</td>
				<td style="text-align:center" colspan="2">IRR<br><br><br><br></td>
			</tr>
			

		</table>
    </body>
</html>