{% extends 'WISH/index.html' %}

{% block content %}
     <div class="page-header">
          <!--<img src=""></img>-->
          <h1 align="center">Fill for IRR Record continuation</h1>
      </div>
    <form method="POST" class="irr_entry">{% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
        {% for field in form %}
        <div id="{{ field.auto_id }}_errors">
          {{ field.errors }}
        </div>
        <div id="my_form">
    		 {{ field.label_tag }}<br>{{ field }}
		</div>
		<br>
		{% endfor %}
        <button type="submit" class="save btn btn-default">Save</button>
        <!--<a id="modal1" data-toggle="modal" data-target="#addform" href="{% url 'WISH.views.product_to_irr' %}">
          <h3 id="heading1" class="panel-title">Add</h3>
        </a>-->
    </form>


{% endblock %}
