{% block content %}
<br>
<div class="col-md-3">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                </div>
            </form>
</div>
<div class="col-md-9">
       <table class="table table-list-search">
 
    <thead>
     	<th><center>IRR NO.</center></th>
       <th><center>COST CENTER NAME</center></th>
       <th><center>DATE RECEIVED</center></th>
       <th><center>WORK ORDER NO.</center></th>

    </thead>
     	{% for irr in irrs %}
      	<tr>
          <td>
            <a href="{% url 'WISH.views.irr_form' pk=irr.pk %}">
            <center>{{ irr.pk }}</center>
            </a>
          </td>
          <td>
          <center>{{irr.cost_center_no}}</center>
          </td>
          <td>
          <center>{{irr.date_recv}}</center>
          </td>
          <td>
          <center>{{irr.wo_no}}</center>
          </td>
      	</tr>
      {% endfor %}
  </table>
{% endblock %}
