{% block content %}
  <table style="width:100%;" align="center" class="table">
    <thead>
     	<th><center>IRR NO.</center></th>
       <th><center>COST CENTER NAME</center></th>
       <th><center>DATE RECEIVED</center></th>
       <th><center>WORK ORDER NO.</center></th>

    </thead>
     	{% for irr in irrs %}
      	<tr>
          <td>
            <a href="{% url 'WISH.views.irr_form' pk=irr.pk %}">
            <center>{{ irr.pk }}</center>
            </a>
          </td>
          <td>
          <center>{{irr.cost_center_no}}</center>
          </td>
          <td>
          <center>{{irr.date_recv}}</center>
          </td>
          <td>
          <center>{{irr.wo_no}}</center>
          </td>
      	</tr>
      {% endfor %}
  </table>
{% endblock %}
