{% extends 'WISH/index.html' %}
{% load bootstrap %}

{% block content %}
    <div class="page-header">
      <h1 align="center">Fill for IRR Record</h1>
    </div>
    <br>
    <form method="POST" class="irr_entry">{% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% for field in form %}

    {%if forloop.counter|divisibleby:"3" %}
    <div></div><br><br>
        
    {%endif%}

     {{field.label_tag}}&nbsp;&nbsp;{{field}}&nbsp;&nbsp;&nbsp;
{%endfor%}
<br>
<br>
<br>
    <div align="center"><button type="submit" class="save btn btn-default" id="save">Save</button></div>
    </form>
{% endblock %}