<html>
    <head>
        <title>irr_form</title>
        <style type="text/css">
        	table, th, td{
        		border: 1px solid black;
        		border-collapse: collapse;
        		text-align: left;
        	}
        	th, td {
        		padding: 5px
        	}
        </style>
    </head>
 
    <body>
    	<div>
        	<span align="left" > Republic of the Philippines</span>
        	<span style="padding-left:985px;"></span>
          	<span align="right"> Mindanao Regional Center</span>
        </div>
        <div><span align ="left">National Power Corporation</span>
        	<span style="padding-left:880px;"></span>	
        	<span align="right"> Mindanao Generation-Central WareHouse</span>
        </div>
        <h3 align="center"> INSPECTION AND RECEIVING REPORT </h3> 
        <form action="">
				<input type="checkbox" name="type" value="">Materials for Operations<br>
				<input type="checkbox" name="type" value="">Materials for project
				<span style="padding-left:1200px;"></span>
				
				<span align ="right">Date: {{irs.irr_no_fk.proc_date}}</span>
		</form>																			

		<table style="width:100%;" align="center" >
			<tr>
				
				<td rowspan="2" colspan="2">Supplier Name: {{irs.irr_no_fk.supl_fk.supplier_name}}</td>
				
				<td rowspan="2" colspan="1">Supplier DCE: {{irs.irr_no_fk.supl_fk.supplier_num}}</td>
				
				<td colspan="5" style="text-align:center;">For materials transferred/transshipped</td>
			</tr>
			<tr>
				
				<td colspan="3">I/Prop.Cust: {{irs.irr_no_fk.dce_custodian.name}}</td>
				<td colspan="2">DCE:{{irs.dce_custodian.dce}}</td>
				
			</tr>
			<tr>
				<td colspan="2">
						
						<input type="checkbox" name="type" value="">PO
						<input type="checkbox" name="type" value="">RPO
						<input type="checkbox" name="type" value="">LPO
						<input type="checkbox" name="type" value="">SCL
						<input type="checkbox" name="type" value="">IO
						<input type="checkbox" name="type" value="">SCF No. :
						{{irs.irr_no_fk.po_num}}
						

				</td>
				<td>Invoice No. : <br> &nbsp;&nbsp;&nbsp;&nbsp; {{irs.irr_no_fk.invoice_num}}</td>
				<td>Date Dlvrd : <br> &nbsp;&nbsp;&nbsp;&nbsp; {{irs.irr_no_fk.date_dlvrd}}</td>
				
				<td colspan="2">Issuing Inventory Station <br> &nbsp;&nbsp;&nbsp;&nbsp; {{irs.irr_no_fk.inv_station_no.station_description}}</td>
				<td>MTI No. <br> </td>
				<td colspan="3">BL No. <br> </td>
				
			</tr>
			<tr>

				<th style="width:5%; text-align:center ">item</th>
				<th style="width:12%; text-align:center">NPC Supp No.</th>
				<th style="text-align:center">Particulars</th>
				<th style="width:12%;text-align:center">Qty Accepted</th>
				<th style="width:12%;text-align:center">Qty Rejected</th>
				<th style="width:5%;text-align:center">Unit</th>
				<th style="width:12%;text-align:center">Unit Price</th>
				<th style="width:15%;text-align:center">Amount</th>
			</tr>
			<tr>
				<td style="text-align:center"><br>{{irs.asset_code_fk.id}}<br><br><br><br><br><br><br><br><br></td>
				<td style="text-align:center"><br>{{irs.asset_code_fk.nsn}} <br><br><br><br><br><br><br><br><br></td>
				<td style="text-align:center"><br>{{irs.asset_code_fk.item_name}} -{{ir.asset_code_fk.description}}<br><br><br><br><br><br><br><br><br></td>
				<td style="text-align:center"><br> {{irs.quantity_accepted}}<br><br><br><br><br><br><br><br><br></td>
				<td style="text-align:center"><br> {{irs.quantity_rejected}}<br><br><br><br><br><br><br><br><br></td>
				<td style="text-align:center"><br>{{irs.asset_code_fk.unit_measure }}<br><br><br><br><br><br><br><br><br></td>
				<td style="text-align:center"><br>{{irs.asset_code_fk.unit_cost }}<br><br><br><br><br><br><br><br><br></td>
				<td style="text-align:center"><br><br><br><br><br><br><br><br><br><br></td>
				
			</tr>
			<tr>
				<td colspan="8">Findings/Observations:</td>
			</tr>
			<tr>
				<td style="text-align:center" colspan="2">Inspected & Accepted By:<br><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br>QA/Deputized Inspector<br>DCE:<br>Date of inspection:</td>
				<td style="text-align:center" >Recieved By:<br><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br>Property Custodian<br>DCE:<br>Date of inspection:</td>
				<td style="text-align:center" colspan="3">Approved By:<br><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br>IS Cost Center Head<br>DCE:<br>Date of inspection:</td>
				<td style="text-align:center" colspan="2">IRR<br>IS no. {{irs.irr_no_fk.inv_station_no}} <br> NO. {{irs.irr_no_fk.id}} <br><br></td>
				
			</tr>
			

		</table>
		<br><br><br><br>
    </body>
</html>