{% block content %}
  <table style="width:100%;" align="center" class="table">
    <thead>
     	<th>IRR NO.</th>
       <th>COST CENTER NAME</th>
       <th>DATE RECEIVED</th>
       <th>WORK ORDER NO.</th>

    </thead>
     	{% for irr in irrs %}
      	<tr>
          <td>
            <a href="{% url 'WISH.views.irr_form' pk=irr.pk %}">
              {{ irr.pk }}
            </a>
          </td>
          <td>
            {{irr.cost_center_no}}
          </td>
          <td>
            {{irr.date_recv}}
          </td>
          <td>
            {{irr.wo_no}}
          </td>
      	</tr>
      {% endfor %}
  </table>
{% endblock %}
