{% extends 'WISH/index.html' %}

{% block content %}
    <div class="page-header">
          <!--<img src=""></img>-->
          <h1 align="center">Fill for IRR Record</h1>
      </div>
    <form method="POST" class="irr_entry">{% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
        {% for field in form %}
        <div id="{{ field.auto_id }}_errors">
          {{ field.errors }}
        </div>
        {% endfor %}
        <div id="my_form">
    		 {{form.as_p}}
		    </div>
		<br>
		
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}