<html>
    <head>
        <title>irr_form</title>
        <style type="text/css">
        	table, th, td{
        		border: 1px solid black;
        		border-collapse: collapse;
        		text-align: left;
        	}
        	th, td {
        		padding: 5px
        	}
        </style>
    </head>

    <body>
    	<div>
        	<span align="left" > Republic of the Philippines</span>
        	<span style="padding-left:950px;"></span>
          	<span align="right"> Mindanao Regional Center</span>
        </div>
        <div><span align ="left">National Power Corporation</span>
        	<span style="padding-left:850px;"></span>
        	<span align="right"> Mindanao Generation-Central WareHouse</span>
        </div>
        <h3 align="center"> INSPECTION AND RECEIVING REPORT </h3>
        <span align="left" >  type: {{irs.irr_headkey.type_n}}</span>
		<span style="padding-left:1100px;"></span>
		<span align ="right">Date: {{irs.irr_headkey.proc_date}}</span>
		</form>

		<table style="width:100%;" align="center" >
			<tr>

				<td rowspan="2" colspan="2">Supplier Name: {{irs.irr_headkey.supplier.supplier_name}}</td>

				<td rowspan="2" colspan="1">Supplier DCE: {{irs.irr_headkey.supplier.supplier_number}}</td>

				<td colspan="5" style="text-align:center;">For materials transferred/transshipped</td>
			</tr>
			<tr>

				<td colspan="3">I/Prop.Cust: {{irs.irr_headkey.dce_custodian.name}}</td>
				<td colspan="2">DCE:{{irs.irr_headkey.dce_custodian.dce}}</td>

			</tr>
			<tr>
				<td colspan="2">

						<input type="checkbox" name="type" value="">PO
						<input type="checkbox" name="type" value="">RPO
						<input type="checkbox" name="type" value="">LPO
						<input type="checkbox" name="type" value="">SCL
						<input type="checkbox" name="type" value="">IO
						<input type="checkbox" name="type" value="">SCF No. :
						{{irs.irr_headkey.po_number}}


				</td>
				<td>Invoice No. : <br> &nbsp;&nbsp;&nbsp;&nbsp; {{irs.irr_headkey.invoice_number}}</td>
				<td>Date Dlvrd : <br> &nbsp;&nbsp;&nbsp;&nbsp; {{irs.irr_headkey.date_dlvrd}}</td>

				<td colspan="2">Issuing Inventory Station <br> &nbsp;&nbsp;&nbsp;&nbsp; {{irs.irr_headkey.inv_station_no.station_description}}</td>
				<td>MTI No. <br> </td>
				<td colspan="3">BL No. <br> </td>

			</tr>
			<tr>

				<th style="width:5%; text-align:center ">item</th>
				<th style="width:12%; text-align:center">NPC Supp No.</th>
				<th style="text-align:center">Particulars</th>
				<th style="width:12%;text-align:center">Qty Accepted</th>
				<th style="width:12%;text-align:center">Qty Rejected</th>
				<th style="width:5%;text-align:center">Unit</th>
				<th style="width:12%;text-align:center">Unit Price</th>
				<th style="width:15%;text-align:center">Amount</th>
			</tr>
      {% for product in products%}
			<tr>
				<td style="text-align:center"><br>{{product.pros.id}}<br><br></td>
				<td style="text-align:center"><br>{{product.pros.nsn}}<br><br></td>
				<td style="text-align:center"><br>{{product.pros.item_name}} - {{product.pros.description}}<br><br></td>
				<td style="text-align:center"><br> {{product.quantity_accepted}}<br><br></td>
				<td style="text-align:center"><br> {{product.quantity_rejected}}<br><br></td>
				<td style="text-align:center"><br>{{product.pros.unit_measure }}<br><br></td>
				<td style="text-align:center"><br>{{product.pros.unit_cost }}<br><br></td>
        		<td style="text-align:center"><br>{{ product.amount }}<br><br></td>

			</tr>
      {% endfor %}


      <tr>
        <td colspan=8 style="text-align:right"><br>Total: {{ total }}<br><br></td>
      </tr>
			<tr>
				<td colspan="8">Findings/Observations: {{irs.remark}}</td>
			</tr>
			<tr>
				<td style="text-align:center" colspan="2">Inspected & Accepted By:<br><u>{{irs.irr_headkey.dce_user.name}}</u><br>
          QA/Deputized Inspector<br>DCE:{{irs.irr_headkey.dce_user.dce}}<br>Date of inspection:{{irs.irr_headkey.proc_date}}</td>
				<td style="text-align:center" >Received By:<br><u>{{irs.irr_headkey.dce_custodian.name}}</u><br>
          Property Custodian<br>DCE:{{irs.irr_headkey.dce_custodian.dce}}<br>Date of inspection: {{irs.date_recv}}</td>
				<td style="text-align:center" colspan="3">Approved By:<br><u>{{irs.irr_headkey.dce_approved.name}}</u><br>
          IS Cost Center Head<br>DCE:{{irs.irr_headkey.dce_approved.dce}}<br>Date of inspection: {{irs.irr_headkey.approved_date}}</td>
				<td style="text-align:center" colspan="2">IRR<br>IS no. {{irs.irr_headkey.inv_station_no.inv_station_no}}
          <br> NO. {{irs.pk}}<br><br></td>

			</tr>


		</table>
    </body>
</html>
