{% extends 'WISH/index.html' %}
{% load bootstrap %}

{% block content %}
<style type="text/css">
        .form-group{
          width:400px;
        }
      </style>
    <form method="POST" class="irr_entry">{% csrf_token %}
    {% if exit %}
      <div class="alert alert-warning" style="width:400px">
        {{ exit }}
      </div>
      <div align="center"><a href= "{% url 'WISH.views.index' %}"><i class="glyphicon glyphicon-share-alt"></i> Exit </a></div>
    {% else %}
    {% if msg %}
    <div class="alert alert-success" style="width:400px">
        {{ msg }}
    </div>
    {% endif %}
    <strong><p style="font-size:15px">Fields with asterisk are required.</p></strong>
     <table width="50%">
    <tr>
    <td style="padding:20px">
     {% for field in form1 %}
      &nbsp;&nbsp;{{field | bootstrap_horizontal:'col-lg-4'}}&nbsp;&nbsp;&nbsp;
     {%endfor%}
     <br>
     </div>
     </td>
     <td style="padding:20px">
     {% for field in form2 %}

      &nbsp;&nbsp;{{field | bootstrap_horizontal:'col-lg-4'}}&nbsp;&nbsp;&nbsp;
      
     {%endfor%}
     </td>
     </tr>
     </table>
    <div align="center"><button type="submit" class="save btn btn-default" id="save">Save</button></div>
    </form>
    {% endif %}
{% endblock %}
