<!DOCTYPE html>

{% load staticfiles %}
{% for i in loop %}
<html>
    <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" type="text/css" href="{% static 'css/forms_style.css' %}">
        <title>MIV Form</title>
    </head>

    <body>
	    <center>
		    <div id="border" style="width:826px;height:1169px;border:1px solid #000;">
		    	<p align="left" class="left_marg" style="margin-bottom: 0px;">REPUBLIC OF THE PHILIPPINES<br>NATIONAL POWER CORPORATION</p>
				<p align="right" class="right_marg" style="margin-bottom: 0px;">MINDANAO REGIONAL CENTER<br>
																				MINDANAO GENERATION - CENTRAL WAREHOUSE</p>

		        <h1 align="center">MATERIALS ISSUE VOUCHER</h1>
				<p align ="right" class="right_marg_norm">Date: {{mivs.doc_date}}</p>

				<table style="width:90%" align="center">
					<tr>
						<td>Requisitioning Cost Center: <br><center>{{mivs.irr_no.cost_center_no.cost_center_name}}</center></td>
						<td>Cost Center No.:  <br><center>{{mivs.irr_no.cost_center_no.id}} </center></td>
						<td>WRS No.:{{mivs.irr_no.wrs_number}} </td>
					</tr>
				</table>

				<table style="width:90%" class="tbl3">
					<tr>
						<th class="miv" rowspan="2">NAPOCOR<br>SUPPLY NO.</th>
						<th class="miv" rowspan="2">PARTICULARS</th>
						<th class="miv" rowspan="2">QUANTITY/<br>UNIT OF MEASURE</th>
						<th class="miv" rowspan="2">MWA UNIT OF PRICE/<br>AMOUNT</th>
						<th class="miv" colspan="6">SUBSIDIARY LEDGER</th>
						<th class="miv" rowspan="2">Plant Code</th>
						<th class="miv" rowspan="2">ACT</th>
						<th class="miv" rowspan="2">USA</th>
					</tr>
					<tr>
						<th class="miv">A&G</th>
						<th class="miv">O&M</th>
						<th class="miv">OTH</th>
						<th class="miv">MV</th>
						<th class="miv">T</th>
						<th class="miv">JO/WO</th>
					</tr>
           			{% for product in products|slice:"-6:"%}
					<tr>
						<td><br>{{product.pros.nsn}}<br><br><br></td> <!--NAPOCOR SUPPLY NO.-->
						<td><br>{{product.pros.item_name}}, {{product.pros.description}}<br><br><br></td> <!--PARTICULARS-->
						<td><br> {{product.pros.unit_measure}} | {{product.pros.quantity}}<br><br><br></td> <!--QUANTITY/UNIT OF MEASURE-->
						<td><br>{{product.pros.unit_cost}}<br><br><br></td> <!--MWA UNIT PRICE/AMOUNT-->
						<td></td> <!--A&G-->
						<td></td> <!--O&M-->
						<td></td> <!--OTH-->
						<td></td> <!--MV-->
						<td></td> <!--T-->
						<td></td> <!--JO/WO-->
						<td></td> <!--PLANT CODE-->
						<td></td> <!--ACT-->
						<td></td> <!--USA-->
					</tr>
          			{{products.pop.0}}
      	  			{% endfor %}
		      	  	{% if forloop.last %}
		            <tr>
		      			<td colspan="13">
		      			 {% for i in remain %}
							<br><br><br><br><br>
		      			 {% endfor %}
		      			</td>
		      		</tr>
		      	  	{% endif %}
				</table>

				<table style="width:90%" class="tbl3">
					<tr>
						<td style="font-size: 15px" >(T) JO/WO </td>
						<td style="font-size: 15px" >ACTIVITY: </td>
						<td style="font-size: 15px" >REMARKS: {{mivs.remarks}}</td>
					</tr>
				</table>

				<table style="width:90%" class="tbl3">
					<tr style="font-size: 15px">
						<td >Approved by: <center> <br><u>{{mivs.irr_no.irr_headkey.dce_approved}}</u><br>IS Cost Center Head<br>
              			DCE:{{mivs.irr_no.irr_headkey.dce_approved.dce}}<br>Date: {{mivs.irr_no.irr_headkey.approved_date}}</center></td>
						
						<td >Issued by: <center><br> <u>{{mivs.irr_no.irr_headkey.dce_custodian}}</u><br>Property Custodian
              			<br>DCE:{{mivs.irr_no.irr_headkey.dce_custodian.dce}}<br>Date: {{mivs.irr_no.date_recv}}</center></td>
						
						<td >Received item/s as stated above:<center><br><u>{{mivs.irr_no.irr_headkey.dce_user}}</u>
              			<br>Requisitioners/Representatives<br>DCE:{{mivs.irr_no.irr_headkey.dce_user.dce}}<br>Date: {{mivs.irr_no.irr_headkey.proc_date}} </center></td>
						
						<td ><center>MIV <br>IS No. {{mivs.irr_no.irr_headkey.inv_station_no.inv_station_no}} <br> NO {{mivs.id}}<br><br></center> </td>
					</tr>
				</table>
				<br>
				{% if forloop.last %}
      				<button id="printpagebutton" onclick="myFunction()" >Print this Form</button>
     			{% endif %}
			</div>
      	<br><br>
      	<style type="text/css">
          @page { margin: 0; }
       	</style>

        <script>
      		function myFunction() {
	        	var printButton = document.getElementById("printpagebutton");
	        	printButton.style.visibility = 'hidden';
	        	window.print();
	        	printButton.style.visibility = 'visible';
      		}
  		</script>
		</center>
	</body>
</html>
{%endfor%}
