{% extends 'WISH/index.html' %}
{% load bootstrap %}

{% block content %}
    <div class="page-header">
      <h1 align="center">Fill for MIV Record</h1>
    </div>
    <form method="POST" class="product-form">{% csrf_token %}
      {% for field in form %}
        <div id="my_form" align="left">
          {{ field | bootstrap_horizontal:'col-lg-3 col-lg-6'}} <br><br><br>
        </div>
      {% endfor %}
      <br>
         <div align="center"><button type="submit" class="save btn btn-default">Save</button></div> 
      </form>
{% endblock %}
