{% extends 'WISH/index.html' %}

{% block content %}
    <div class="page-header">
          <!--<img src=""></img>-->
        <h1 align="center">Fill for MIV Report</h1>
     </div>
    <form method="GET" class="get-form">{% csrf_token %}
      {% if form.non_field_errors %}
      <ul>
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
       <label>Enter MIV number:</label>
       <br>
       <br>
       <input type="text" name="q">
       <br>
       <br>
       <button type="submit" class="save btn btn-default">Enter</button>
      </form>
{% endblock %}