{% extends 'WISH/index.html' %}

{% block content %}
<h1 align="center">Select an item to be include in MIV</h1>
  <table style="width:100%;" align="center" class="table">
    <thead>
     	<th>IRR No.</th>
       <th>Item name</th>

    </thead>
    {% for pro in pros %}
      	<tr>
          <td>
            <a href="{% url 'WISH.views.miv_entry_S' pk=pro.irr_no %}">
              {{ pro.irr_no }}
            </a>
          </td>
          <td>
            {{pro.product.item_name}}

          </td>
      	</tr>

      {% endfor %}
  </table>
{% endblock %}
