{% block content %}
  <table style="width:100%;" align="center" class="table">
    <thead>
    	<th>MIV No.</th>
      <th>IRR No:</th>
      <th>DATE ISSUED:</th>
      <th>WRS No.</th>

    </thead>
    	{% for miv in mivs %}
     	<tr>
        <td>
          <a href="{% url 'WISH.views.miv_form' pk=miv.pk %}">
            {{miv.id}}
          </a>
        </td>

        <td>
          {{miv.irr_no}}
        </td>

        <td>
          {{miv.date_issued}}
        </td>
        <td>
          {{miv.irr_no.wrs_number}}
        </td>

      </tr>
      {% endfor %}
  </table>
{% endblock %}
