{% extends 'WISH/index.html' %}

{% block content %}
<h1 align="center">Select irr number to MIV report</h1>
  <table style="width:100%;" align="center" class="table">
    <thead>
     	<th>IRR No.</th>
       <th>Cost Center Name</th>
       <th>Date Recieve</th>
       <th>Work Order No.</th>
    </thead>
     	{% for irr in irrs %}
      	<tr>
          <td>
            <a href="{% url 'WISH.views.miv_entry_S' pk=irr.pk %}">
              {{ irr.pk}}
            </a>
          </td>
        </td>
        <td>
          {{irr.cost_center_no}}
        </td>
        <td>
          {{irr.date_recv}}
        </td>
        <td>
          {{irr.wo_no}}
        </td>
      	</tr>
      {% endfor %}
  </table>
{% endblock %}
