<html>
    <head>
        <title>miv_form</title>
        <style type="text/css">
        	table, th, td{
        		border: 1px solid black;
        		border-collapse: collapse;
        		text-align: left;
        	}
        	th, td {
        		padding: 5px
        	}
        </style>
    </head>
    <body>
    	<div>
        	<span align="left" > Republic of the Philippines</span>
        	<span style="padding-left:985px;"></span>
          	<span align="right"> Mindanao Regional Center</span>
        </div>
        <div><span align ="left">National Power Corporation</span>
        	<span style="padding-left:880px;"></span>
        	<span align="right"> Mindanao Generation-Central WareHouse</span>
        </div>
        <h3 align="center"> MATERIALS ISSUE VOUCHER </h3> 
        
		<span style="padding-left:1200px;"></span>
		<span align ="right"> Date Here</span>

		<table style="width:100%;" align="center" >
			<tr>
				<td colspan="3">Requisitioning Cost Center: </td>
				<td colspan="7">Cost Center No.:</td>
				<td colspan="4">WRS No.:</td>
			</tr>
			<tr>
				<th rowspan="2" style="width:5%;text-align:center" >NPC Supp No.</th>
				<th rowspan="2" style="text-align:center">Particulars</th>
				<th rowspan="2" style="width:12%;text-align:center">Quantity/Unit of Measure</th>
				<th rowspan="2" style="width:12%;text-align:center">MWA Unit Price Amount</th>
				<th colspan="6" style="width:30%;text-align:center">Subsidiary Ledger</th>
				<th rowspan="2" style="width:5%;text-align:center">Plant Code</th>
				<th rowspan="2" style="width:5%;text-align:center" >Act</th>
				<th rowspan="2" style="width:5%;text-align:center" >USA</th>

			</tr>

			<tr>
			<td style="width:4%;text-align:center" >A&G</td>
			<td style="width:4%;text-align:center">O&M</td>
			<td style="width:4%;text-align:center" >OTH</td>
			<td style="width:4%;text-align:center" >MV</td>
			<td style="width:4%;text-align:center" >T</td>
			<td style="width:4%;text-align:center" >JO/WO</td>
			</tr>	
			<tr>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
				<td><br><br><br><br><br><br><br><br><br><br></td>
			</tr>
			<tr>
				<td colspan="2">JO/WO <br>   J - Job Order <br>   W - Job Order</td>
				<td colspan="2">Activity: <br>1. Operations <br> 2. Maintenance <br> 3. Fuel & Additives  </td>
				<td colspan="9">Remarks:</td>

			</tr>
			<tr>
				<td style="text-align:center" colspan="2">Approved By:<br><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br>IS Cost Center Head<br>DCE:</td>
				<td style="text-align:center" colspan="3" >Issued By:<br><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br>Property Custodian<br>DCE:</td>
				<td style="text-align:center" colspan="2">Recieved item/s as stated above:<br><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br>Requisitioners/Representatives<br>DCE:</td>
				<td style="text-align:center" colspan="6">MIV<br><br><br><br></td>
			</tr>
			
		</table>
    </body>
</html>