{% block content %}
<br>
<div class="col-md-3">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                </div>
            </form>
</div>
<div class="col-md-9">
       <table class="table table-list-search">
  
    <thead>
    	<th><center>MIV No.</center></th>
      <th><center>IRR No:</center></th>
      <th><center>DATE ISSUED:</center></th>
      <th><center>WRS No.</center></th>

    </thead>
    	{% for miv in mivs %}
     	<tr>
        <td>
          <a href="{% url 'WISH.views.miv_form' pk=miv.miv_no %}">
          <center>{{miv.miv_no}}</center>
          </a>
        </td>

        <td>
        <center>{{miv.irr_no}}</center>
        </td>

        <td>
        <center>{{miv.date_issued}}</center>
        </td>
        <td>
        <center>{{miv.irr_no.wrs_number}}</center>
        </td>

      </tr>
      {% endfor %}
  </table>
{% endblock %}
