<!DOCTYPE html>
<html lang="en">
<head>

	<style type="text/css">
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
			text-align: center
		}
		th, td {
			padding: 5px
		}
	</style>
	
</head>
<body>

	<p align="left">
	Republic of the Philippines
	<br>
	National Power Corporation
	<br>
	MINDANAO GENERATION (MINGEN)
	<br>
	Maria Cristina, Iligan City
	</p>
	<br>
	<h1 align="center">PROPERTY ACCOUNTABILITY RECEIPT</h1>

	<span>Accountable Employee:&nbsp;&nbsp;&nbsp;<u>DOMINGO ASIDOY</u></span>
	<br>
	<span>Designation:&nbsp;&nbsp;&nbsp;<u>Sr. IS/IT Specialist</u></span>
	<br>
	<span>Section/Department:&nbsp;&nbsp;&nbsp;<u>Mindanao Generation - OPD - ISTD</u></span>
	<span style="padding-left:600px"></span>
	<span align="right">Date: &nbsp;&nbsp; <u>November 9, 2011&nbsp;&nbsp;</u></span>
	
	<br>
	<br>
	<br>
	
	<!--Table1-->
			<table style='width:100%' align='center'>
		  <tr>
		    <th style='width:10%'>Asset Code</th>
		    <th style='width:40%'>Description</th>
		    <th>Unit</th>
		    <th>Qty</th>
		    <th>Amount</th>
		    <th>Work Order No.</th>
		  </tr>
		  <tr>
		    <td>398
		    	<br>
				<br>
				<br>
				<br>
				<br>
				<br>
		    </td>
		    <td>Compressor- Motor Fan, 92 watts for outdoor
		    	Unit of Kolin Aircon 
		    </td>
		    <td>unit</td>
		    <td>1</td>
		    <td>13,392.860</td>
		    <td>NA</td>
		  </tr>
		</table>
		
	<!--Table2-->
		<table style='width:100%' align='center'>
			<tr>
		  	  <td style='text-align:left'>
		  	  	Remark:
			  	To be installed at Aircon, 3-tons, "Kolin" 
			  	brand for outdoor unit, SN: 10281004-14868
			  </td>
			</tr>
		</table>
	
	<!--Table3-->
		<table style='width:100%' align='center'>
		  <tr>
			  <td style='text-align:left'>
			  	Approved:
			  </td>
			  
			  <td style='text-align:left'>
			  	Issued by:
			  </td>
			  
			  <td style='text-align:left'>
			  	Received:
			  </td>
			  
			  <td>
			  	PAR
			  </td>
		  </tr>
		  
		
		  <tr>
		    <td>
				<br>
				<u>G.C. BAULA, JR.</u>
				<br>
				Manager
				<br>
		    	Cost Center Head		    			    
		    </td>
		    <td>
				<br>
				<u>LAURA R. MENDEZ</u>
				<br>
				Property Officer A
				<br>
		    	Supvg. Property Officer
		    </td>
		    <td>
				<br>
				<u>D.C. ASIDOY</u>
				<br>
				<br>
				Accountable Employee
			</td>
		    <td>
		    	No. 001695
		    	<br>
		    	(IS No. 61201)
		    </td>
		  </tr>
		</table>
		
		<br>
		
	<p>"The accountable employee is responsible for the issued property items, 
		subject to the provisions of the National Accounting and Auditing Laws."
	</p>
	
	<span align="left">
	Purchased from:
	</span>
	<br>
	<span align="left">
	P.O.No.:
	</span>
	<br>
	<span align="left">
	CSI No.:
	</span>
	<br>


</body>
</html>