{% extends 'WISH/index.html' %}
{% load bootstrap %}

{% block content %}
<style type="text/css">
        .form-group{
          width:400px;
        }
      </style>
    <!--<div align="right"><a href= "{% url 'WISH.views.index' %}"><i class="fa fa-arrow-right"></i> Exit</a></div>-->
    <form method="POST" class="post-form">{% csrf_token %}
    {% if exit %}
      {%if msg%}
        <div class="alert alert-success" style="width:400px">
          {{ msg }}
        </div>
        <div align="center"><a href= "{% url 'WISH.views.index' %}"><i class="glyphicon glyphicon-share-alt"></i> {{ exit }}</a></div>
      {% endif %}
    {% else %}
    <strong><p style="font-size:15px">Fields with asterisk are required.</p></strong>
    {%if msg%}
        <div class="alert alert-success" style="width:400px">
    {{ msg }}
        </div>
    {% endif %}
    {%if error%}
        <div class="alert alert-danger" style="width:400px">
    {{ error }}
        </div>
    {% endif %}
      <table width="50%">
    <tr>
    <td style="padding:20px">
     {% for field in iform %}
      &nbsp;&nbsp;{{field | bootstrap_horizontal:'col-lg-4'}} &nbsp;&nbsp;&nbsp;
     {%endfor%}
     <br>
     <div align="center"><button type="submit" class="save btn btn-default">Add Another Item</button>
      <br><br><br><br><br><br><br><br>
     </div>
     </td>
     <td style="padding:20px">
     {% for field in form %}

      &nbsp;&nbsp;{{field | bootstrap_horizontal:'col-lg-4'}} &nbsp;&nbsp;&nbsp;

     {%endfor%}
     <br>
     </td>
     </tr>
     </table>
     <div align="center"><button type="submit" class="save btn btn-default">Save</button></div>
     </form>
     {% endif %}

{% endblock %}
