<!DOCTYPE html>

{% load staticfiles %}
{% for i in loop %}
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'css/forms_style.css' %}">

		<title>par_form</title>
	</head>

	<body>
		<center>
		    <div style="width:826px;height:1169px;border:1px solid #000;">
		    	<img src="{% static 'images/npclogo.png' %}" class="left_marg_npclogo" align="left">
		    	&nbsp;
		    	<p align="left" class="left_marg_par">Republic of the Philippines<br>National Power Corporation<br>MINDANAO GENERATION<br>(MINGEN)<br>Maria Cristina, Iligan City</p> <br><br><br>
					{% if parss.amt_cost >= 10000 %}
						<h1 align="center">PROPERTY ACCOUNTABILITY RECEIPT</h1>
					{% else %}
						<h1 align="center">INDIVIDUAL SHEET</h1>
						<h1 align="center" style="margin-top:0px">CONTROLLED MATERIALS AND EQUIPMENT</h1>
					{% endif %}
					<br>

		    	<p class="par" align="left">Accountable Employee: <u>{{parss.dce.name}}</u></p>
		    	<p class="par" align="left">Designation: <u>{{parss.dce.position}}</u> </p>
		    	<p class="par" align="left">Section/Department: <u>{{parss.dce.cost_center_no}}</u></p>
		    	<p align="right">Date: <u>{{ parss.par_date }}</u></p>

		    	<table style="width: 90%" class="par">
		    		<tr>
		    			<th><br>Asset Code<br></th>
		    			<th><br>Description<br></th>
		    			<th><br>Unit<br></th>
		    			<th><br>Qty.<br></th>
		    			<th><br>Amount<br></th>
							<th><br>Date Acquired<br></th>
							<th><br>Remarks<br></th>
		    			<th><br>Work Order No.<br></th>
		    		</tr>
						{% for product in products|slice:"-5:"%}
		    		<tr>

		    			<td ><br><center>{{ product.Product }}</center><br><br><br></td>
		    			<td ><br><center>{{ product.item_name }}-{{ product.description }}</center><br><br><br></td>
		    			<td ><br><center>{{ product.unit }}</center><br><br><br></td>
		    			<td ><br><center>{{ product.Quantity }}</center><br><br><br></td>
		    			<td ><br><center>{{ product.amount }}</center><br><br><br></td>
							<td ><br><center>{{ parss.date_acquired }}</center><br><br><br></td>
							<td ><br><center>{{ parss.remarks }}</center><br><br><br></td>
		    			<td ><br><center>{{ parss.wo_number.wo_no }}</center><br><br><br></td>

		    		</tr>
						{{products.pop.0}}
      	  				{% endfor %}
      	  				{% if forloop.last %}
            				<tr>
      							<td colspan="8">
      			 					{% for i in remain %}
										<br><br><br><br><br>
      			 					{% endfor %}
      							</td>
      						</tr>
      	  				{% endif %}
		    	</table>

		    	<table style="width: 90%" class="par">
		    		<tr>
		    			<td>Approved: <br><center>
							<u>{{parss.approved_by.name}}</u>
							<br>
							{{parss.approved_by.position}}
							<br>
					    	Cost Center Head</center></td>
		    			<td>Issued by:<center>
							<u>{{parss.issued_by.name}}</u>
							<br>
							{{parss.issued_by.position}}
							<br>
					    	Supvg. Property Officer</center> </td>
		    			<td>Received:<center><u>{{parss.dce.name}}<br></u>
							Accountable Employee</center>
						</td>

		    			<td> <center>PAR<br>{{parss.par_no}}</center>
							<center>IS No. {{parss.inv_stat_no.inv_station_no}}</center></td>
						</tr>
					</table>
					<br>
						{% if forloop.last %}
      						<button id="printpagebutton" onclick="myFunction()" >Print this Form</button>
     					{% endif %}
			</div>
			<br><br>

	    <style type="text/css">
	        @page { margin: 1; }
	      </style>
	      <script>
	    function myFunction() {
	      var printButton = document.getElementById("printpagebutton");
	      printButton.style.visibility = 'hidden';

	      window.print();
	      printButton.style.visibility = 'visible';
	    }
	</script>
		</center>
	</body>
</html>
{% endfor %}