<!DOCTYPE html>
<html lang="en">
<head>

	<style type="text/css">
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
			text-align: center
		}
		th, td {
			padding: 5px
		}
	</style>
	
</head>
<body>

	<p align="left">
	Republic of the Philippines
	<br>
	National Power Corporation
	<br>
	MINDANAO GENERATION (MINGEN)
	<br>
	Maria Cristina, Iligan City
	</p>
	<br>
	{% for par in pars %}
	
	{% if par.amt_cost >= 10000 %}
		<h1 align="center">PROPERTY ACCOUNTABILITY RECEIPT</h1>
	{% else %}
		<h1 align="center">INDIVIDUAL SHEET</h1>
		<h1 align="center">CONTROLLED MATERIALS AND EQUIPMENT</h1>
	{% endif %}

	<span>Accountable Employee:&nbsp;&nbsp;&nbsp;<u>{{par.dce_FK.name}}</u></span>
	<br>
	<span>Designation:&nbsp;&nbsp;&nbsp;<u>{{par.dce_FK.position}}</u></span>
	<br>
	<span>Section/Department:&nbsp;&nbsp;&nbsp;<u>{{par.dce_FK.cost_center_no_fk}}</u></span>
	<span style="padding-left:600px"></span>
	<span align="right">Date Prepared: &nbsp;&nbsp; <u>{{ par.par_date }}&nbsp;&nbsp;</u></span>
	<br>
	<br>
	<br>
	
	<!--Table1-->
			<table style='width:100%' align='center'>
		  <tr>
		    <th style='width:5%'>Asset Code</th>
		    <th style='width:30%'>Description</th>
		    <th>Unit</th>
		    <th>Qty</th>
		    <th style='width:5%'>Amount</th>
		    <th>Date Acquired</th>
		    <th style='width:30%'>Remarks</th>
		    <th>Work Order No.</th>
		  </tr>
		  <tr>
		    <td>{{ par.asset_code_FK.id }}
		    	<br>
				<br>
				<br>
				<br>
				<br>
				<br>
		    </td>
		    <td>{{ par.asset_code_FK.item_name }}-{{ par.asset_code_FK.description }}
		    </td>
		    <td>{{ par.asset_code_FK.unit_measure }}</td>
		    <td>{{ par.qty}}</td>
		    <td>{{par.amt_cost}}</td>
		    <td></td>
		    <td>{{par.asset_code_FK.remark}}</td>
		    <td>NA</td>
		  </tr>
		</table>
		
	
	<!--Table3-->
		<table style='width:100%' align='center'>
		  <tr>
			  <td style='text-align:left'>
			  	Approved:
			  </td>
			  
			  <td style='text-align:left'>
			  	Issued by:
			  </td>
			  
			  <td style='text-align:left'>
			  	Received:
			  </td>
			  
			  <td>
			  	PAR/CME
			  </td>
		  </tr>
		  
		
		  <tr>
		    <td>
				<br>
				<u>{{par.approved_by.name}}</u>
				<br>
				{{par.issued_by.position}}
				<br>
		    	Cost Center Head		    			    
		    </td>
		    <td>
				<br>
				<u>{{par.approved_by.name}}</u>
				<br>
				{{par.issued_by.position}}
				<br>
		    	Supvg. Property Officer
		    </td>
		    <td>
				<br>
				<u>{{par.dce_FK.name}}</u>
				<br>
				<br>
				Accountable Employee
			</td>
		    <td>
		    	{{par.par_no}}
		    	<br>
		    	(IS No. {{par.inv_stat_no.inv_station_no}})
		    </td>
		  </tr>
		</table>
		
		<br>
		
	<p>"The accountable employee is responsible for the issued property items, 
		subject to the provisions of the National Accounting and Auditing Laws."
	</p>
	
	<span align="left">
	Purchased from: {{par.asset_code_FK.purchased_from.supplier_name}}
	</span>
	<br>
	<span align="left">
	P.O.No.: {{par.PO_num.po_num}}
	</span>
	<br>
	<span align="left">
	CSI No.:
	</span>
	<br>
	
	{% endfor %}


</body>
</html>