{% extends 'WISH/index.html' %}


{% block content %}
    <div class="page-header">
      <h1 align="center">PAR Entry </h1>
    </div>
    <div align="right"><a href= "{% url 'WISH.views.index' %}"><i class="fa fa-arrow-right"></i> Exit</a></div>
    <form method="POST" class="post-form">{% csrf_token %}
      {% if iform.non_field_errors %}
      <ul>
        {% for error in iform.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
          {% for field in iform %}
          <div id="{{ field.auto_id }}_errors">
            {{ field.errors }}
          </div>
          <div id="my_form">
           {{ field.label_tag }}<br>{{ field }}
      </div>
      <br>
      {% endfor %}
      <!--<div align="right"><a href= "{% url 'WISH.views.index' %}"><i class="fa fa-arrow-right"></i> Exit</a></div>-->

          <button type="submit" class="save btn btn-default">Add Another Item</button>

      <br>
      <br>
      {% if form.non_field_errors %}
      <ul>
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
          {% for field in form %}
          <div id="{{ field.auto_id }}_errors">
            {{ field.errors }}
          </div>
          <div id="my_form">
           {{ field.label_tag }}<br>{{ field }}
      </div>
      <br>
      {% endfor %}
        <button type="submit" class="save btn btn-default">Save</button>

{% endblock %}
