{% extends 'WISH/index.html' %}
{% load bootstrap %}

{% block content %}

<style type="text/css">
  .form-group{
    width:400px;
  }
  ul{
    list-style-type: none;
  }
</style>
   <form method="POST" class="irr_entry">{% csrf_token %}
    {% if exit and msg%}
      <div class="alert alert-success" style="width:400px">
        {{ msg }}
      </div>
      <div class="alert alert-warning" style="width:400px">
        {{ exit }}
      </div>
      <div align="center"><a href= "{% url 'index' %}"><i class="glyphicon glyphicon-share-alt"></i> Exit</a></div>
    {% elif 'Item' not in msg %}
      <div class="alert alert-success" style="width:400px">
        {{ msg }}
      </div>
      <div align="center"><a href= "{% url 'index' %}"><i class="glyphicon glyphicon-share-alt"></i> Exit</a></div>
    {% else %}
      <strong><p style="font-size:15px">Fields with asterisk are required.</p></strong>
      {%if msg%}
        <div class="alert alert-success" style="width:400px">
          {{ msg }}
        </div>
      {% endif %}
      {%if error%}
        <div class="alert alert-danger" style="width:400px">
          {{ error }}
        </div>
      {% endif %}
        <table width="90%">
          <tr> 
            <td width="30%">
              <h4>Added item/s:</h4>
              {% if product|length != 0%}
                {% for prod in product %}
                  <div>
                    <span align:"center" > 
                      <button type="submit" name="delete" value="{{forloop.counter|add:'-1'}}" class="save btn btn-default">Delete</button>
                        Product: {{prod.pros.item_name}} - {{prod.pros.description}},<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Quantity Accepted: {{prod.quantity_accepted}},<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Quantity Rejected: {{prod.quantity_rejected}},<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Quantity Balance: {{prod.quantity_balance}} <br>
                    </span>
                  </div>
                {% endfor %}
              {% endif %}
            </td>
            
            <td style="padding:25px">
              {% for field in form %}
                &nbsp;&nbsp;{{field | bootstrap_horizontal:'col-lg-4'}}&nbsp;&nbsp;&nbsp;
              {%endfor%}
              {% if remove_add == 1%}
                <div align="center"><button type="submit" class="save btn btn-default">Add Another Item</button></div>
              {% elif remove_add == 2%}
              {% else %}
                <div align="center"><a class="save btn btn-default" data-toggle="modal" data-target="#product">Add Items</a></div>
              {% endif %}
            </td>
            
            <td style="padding:20px">
              {% for field in iform %}
                 &nbsp;&nbsp;{{field | bootstrap_horizontal:'col-lg-4'}}&nbsp;&nbsp;&nbsp;
              {%endfor%}
            </td>
          </tr>
        </table>
        <div align="center"><button name="save" type="submit" class="save btn btn-default">Save</a></button>
    </form>
    {% endif %}

      <!--MODAL-->
        <div class="modal fade" id="product" tabindex="-1" role="dialog" aria-labelledby="product" aria-hidden="true" style="margin-top: 100px; position: fixed; z-index:1000 opacity:0.5; height:auto">
          <div class="modal-dialog modal-sm" style="width: 700px">
            <div class="modal-content">
              <div class="modal-header">
                <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Product List</h4>
              </div>
              <div class="modal-body" id="mycontent">
                <form method="post">
                {% for field in pform %}
                {% csrf_token %}
                <table>
                  <tr>
                      <td>{{ field | bootstrap }} </td><td> Quantity Accepted: </td><td> Quantity Rejected</td>
                  </tr>
                </table>
                {% endfor %}
                <div class="modal-footer" align="center">
                  <input name="add" align="center" id="addbutton" type="submit" style="margin-right: 95px;" class="save btn btn-info" value="Add" />
                </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      <!--END OF MODAL-->
{% endblock %}
