{% extends 'WISH/index.html' %}

{% block content %}
   <div class="page-header">
      <h1 align="center">Product Reports</h1>
   </div>
   <table style="width:80%;" align="center" class="table">
      <thead>
      	<th><center>Item name w/ description</center></th>
        <th><center>Product number</center></th>
        <th><center>Model and Brand</center></th>
        <th><center>Serial number</center></th>
        <th><center>NSN</center></th>
        <th><center>Puchased from</center></th>

      </thead>
      	{% for prod in prods %}
      		<tr>
            <td>
              <a href="{% url 'WISH.views.product_form' pk=prod.pk %}">
              <center>{{ prod.item_name}}-{{prod.description}}</center>
            </td>
            <td>
              <center>{{ prod.product_number }}</center>
            </a>
          </td>
          <td>
            <center>{{ prod.model}}-{{prod.brand}}</center>
          </td>
          <td>
            <center>{{ prod.serial_number}}</center>
          </td>
          <td>
            <center>{{ prod.nsn}}<center>
          </td>
          <td>
            <center>{{ prod.purchased_from}}</center>
          </td>

      		</tr>
      	{% endfor %}
   </table>
{% endblock %}
