{% extends 'WISH/index.html'%}
{% load bootstrap %}
{% load staticfiles%}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>

<br><br>

{% block content %}

<style type="text/css">
  .form-group{
    width:400px;
  }
  ul{
    list-style-type: none;
  }
</style>
   {% if prodlist|length != 0 %}
     <script type="text/javascript">
            $( document ).ready( function() {
                $('#product').modal({show:true});
            });
        </script>
   {% endif %}
   {% if exit and msg%}
      <div class="alert alert-success" style="width:400px">
        {{ msg }}
      </div>
      <div class="alert alert-warning" style="width:400px">
          {{ exit }}
      </div>
      <div align="center"><a href= "{% url 'index' %}"><i class="glyphicon glyphicon-share-alt"></i> Exit</a></div>
   {% elif msg %}
      <div class="alert alert-success" style="width:400px">
        {{ msg }}
      </div>
      <div align="center"><a href= "{% url 'index' %}"><i class="glyphicon glyphicon-share-alt"></i> Exit</a></div>
   {% elif exit %}
      <div class="alert alert-danger" style="width:400px">
          {{ exit }}
      </div>
      <div align="center"><a href= "{% url 'index' %}"><i class="glyphicon glyphicon-share-alt"></i> Exit</a></div>
   {% else %}
      {%if error%}
        <div class="alert alert-danger" style="width:400px">
          {{ error }}
        </div>
      {% endif %}
      <strong><p style="font-size:15px">Fields with asterisk are required.</p></strong>
      {% include 'WISH/handsontable.html'%}
    {% endif %}


      <!--MODAL-->
        <div class="modal fade" id="product" tabindex="-1" role="dialog" aria-labelledby="product" aria-hidden="true" style="margin-top: 100px; position: fixed; z-index:1000 opacity:0.5; height:auto">
          <div class="modal-dialog modal-sm" style="width: 700px">
            <div class="modal-content">
              <div class="modal-header">
                <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Product List</h4>
              </div>
              <div class="modal-body" id="mycontent">
                <form action="" method="get">
                    <div class="input-group">
                      <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                      <input class="form-control" id="system-search" name="q" placeholder="Search for" >
                    </div>
                    {% if prodlist|length != 0 %} 
                      {% for field in pform %}
                        &nbsp;&nbsp;{{field | bootstrap}}&nbsp;&nbsp;&nbsp;
                      {%endfor%}
                      <div align="center"><button name="add" class="save btn btn-default">Ok</button></div>
                    {% endif %}
                </form>
                
              </div>
            </div>
          </div>
        </div>
      <!--END OF MODAL-->

{% endblock %}
