{% extends 'WISH/index.html' %}
{% load staticfiles %}
 {% block content %}
<html>
    <head>
        <title>Product Details</title>
        <style type="text/css" >
        	table, th, td{
        		text-align: left;
          }
        	th, td {
        		padding: 5px
        	}
        </style>
    </head>
    <br>
    <body>
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/details.css' %}">
      <div class="container">
              <div class="row text-center">
                  <div class="col-md-12" style="margin-top: 20px;">
                      <div class="pricing-table">
                          <div class="panel panel-primary" style="border: none;">
                              <div class="controle-header panel-heading panel-heading-landing">
                                  <h1 class="panel-title panel-title-landing">
                                    Product
                                  </h1>
                              </div>
                              <div class="controle-panel-heading panel-heading panel-heading-landing-box">
                                  Details
                              </div>
                              <div class="panel-body panel-body-landing">
                                  <table class="table">
                                      <tr>
                                          <td width="50%"><b>NSN :</b> {{prod.nsn}}</td>
                                          <td><b>SLC :</b> {{prod.slc_number}}</td>
                                      </tr>
                                      <tr>
                                          <td><b>Product number :</b> {{prod.product_number}}</td>
                                          <td><b>Description :</b> {{prod.description}}</td>
                                      </tr>
                                      <tr>
                                          <td><b>Generic name : </b> {{prod.generic_name}}</td>
                                          <td><b>Item name :</b> {{prod.item_name}}</td>
                                      </tr>
                                      <tr>
                                          <td><b>Brand :</b> {{prod.brand}}</td>
                                          <td><b>Part number :</b> {{prod.part_number}}</td>
                                      </tr>
                                      <tr>
                                          <td><b>Manufacture date :</b> {{prod.manufacture_date}}</td>
                                          <td><b>Expiry date : </b> {{prod.expiry_date}}</td>
                                      </tr>
                                      <tr>
                                          <td><b>Unit cost :</b> {{prod.unit_cost}}</td>
                                          <td><b>Quantity : </b> {{prod.quantity}}</td>
                                      </tr>
                                      <tr>
                                          <td><b>Classification :</b> {{prod.classification}}</td>
                                          <td><b>Stock : </b> {{prod.stock}}</center></td>
                                      </tr>
                                      <tr>
                                          <td><b>Block : </b> {{prod.block}}</td>
                                          <td><b>Unit measure : </b> {{prod.unit_measure}}</td>
                                      </tr>

                                      <tr>
                                          <td><b>Status : </b> {{prod.status}}</td>
                                          <td><b>Purchased from :</b> {{prod.purchased_from}}</td>
                                      </tr>
                                      <tr>
                                          <td><b>Average Amount : </b> {{prod.average_amount}}</td>
                                          <td><b>Balance limit :</b> {{prod.balance_limit}}</td>
                                      </tr>
                                      <tr>
                                          <td><b>Serial number :</b> {{prod.serial_number}}</td>
                                          <td><b>Model : </b> {{prod.model}}</td>
                                      </tr>
                                      <tr>
                                          <td><b>Amount :</b> {{prod.amount}}</td>
                                          <td><b>Remarks : </b> {{prod.remarks}}</td>
                                      </tr>
                                </table>
                              </div>
                              <div class="panel-footer panel-footer-landing">
                                  <a href="{% url 'product_entry' pk=prod.pk %}" class="btn btn-price btn-info btn-lg">Edit</a>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </body>

</html>

{% endblock %}
