<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

{% extends 'WISH/index.html' %}

{% block content %}
    <h1>New product</h1>
    <form method="POST" class="product-form">{% csrf_token %}
        {% for field in form %}
        <div id="my_form">
    		 {{ field.label_tag }}<br>{{ field }}
		</div>
		<br>
		{% endfor %}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}