{% extends 'WISH/index.html' %}
{% load bootstrap %}

{% block content %}
	<style type="text/css">
        .form-group{
          width:400px;
        }
      </style>
    <div class="page-header">
      <h2 align="center">Add another supplier</h2>
    </div>
    <br>
    <form method="POST" class="irr_entry">{% csrf_token %}
			<table width="50%" >
				<tr>
				<td>
				{% for field in form1 %}
					{{field | bootstrap_horizontal:'col-lg-4'}}&nbsp;&nbsp;&nbsp;
				{%endfor%}
				</div>
				</td>

				<td style="padding:5px">
				{% for field in form2 %}
					&nbsp;&nbsp;{{field | bootstrap_horizontal:'col-lg-4'}}&nbsp;&nbsp;&nbsp;
				{%endfor%}
				<br><br><br>
				</td>
				</tr>
			</table>
		<div align="center"><button type="submit" class="save btn btn-default">Save</button></div>
   </form>
{% endblock %}
