{% block content %}
<br>
<div class="col-md-3">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                </div>
            </form>
</div>
<div class="col-md-9">
       <table class="table table-list-search">
  
    <thead>
    	<th>WRS No.</th>
      <th>REQUISITIONED BY:</th>
      <th>APPROVED BY:</th>
      <th>DATE:</th>
    </thead>
   	{% for wrs in wrss %}
     	<tr>
        <td>
          <a href="{% url 'WISH.views.wrs_form' pk=wrs.wrs_number %}">
            {{wrs.wrs_number}}
          </a>
        </td>

        <td>
          {{ wrs.irr_headkey.dce_custodian.name }}
        </td>

        <td>
          {{ wrs.irr_headkey.dce_user.name}}
        </td>

        <td>
          {% now "DATE_FORMAT" %}
        </td>

      </tr>
    {% endfor %}
  </table>
{% endblock %}
