{% extends 'WISH/index.html' %}
{% block content %}
{% load bootstrap %}
<style type="text/css">
  .form-group{
    width:200px;
  }
</style>

    <form method="POST" class="get-form">{% csrf_token %}
      <table width="50%" align="center" >

         {% for field in form %}
          &nbsp;&nbsp;{{field | bootstrap}}&nbsp;&nbsp;&nbsp;
         {%endfor%}

      </table>
         <div align="center"><button name="add" type="submit" class="save btn btn-default">Add Item</button></div><br>
         <div align="center"><button name="save" type="submit" class="save btn btn-default">Submit</button></div>
      </form>
{% endblock %}
