<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		table, th, td {
    		border: 1px solid black;
    		border-collapse: collapse;
    		text-align: center;
    }
		th, td {
    		padding: 5px;
		}
    
  </style>
</head>
<body>
	<div class="container" style="padding:30px">
    <!--To add NAPOCOR logo-->
    <span> <img src="http://upload.wikimedia.org/wikipedia/en/0/0f/Napocor_logo.JPG" style="width:100px;height:100px;margin-top:100px"></img></span>
		<span>
    <h4 align="center"> National Power Corporation
		<br>
							  Mindanao Generation
		<br>
					Maria Cristina, Iligan City, Philippines
		</h4>
		<br>
		</span>
		<h1 align="center">WAREHOUSE REQUISITION SLIP</h1>
	
		<p align="center" style="font-size:90%;font-style:italic">(Materials, Supplies and Equipments)</p>

    <p align="right">Date:<u>&nbsp;&nbsp;{{ wrss.date_issued }}&nbsp;&nbsp;</u></p>
		<p style="padding-left:30px">Cost Center:&nbsp;<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ wrss.cost_center_no }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>
		<br>
    <table style="width:100%;border-style:solid;border-width:2px;" align="center">
  		<tr>
    		<th style="width:10%">NAPOCOR SUPPLY NO. (NSN) SLC</th>
    		<th style="width:60%">PARTICULARS</th>
    		<th style="">QUANTITY</th>
    		<th style="width:15%">UNIT OF MEASURE</th>
  		</tr>
  		<tr>
    		<td>{{ wrss.asset_code.slc_number }}</td>
    		<td style="text-align:left;font-style:italic"><b><u>&nbsp;&nbsp;&nbsp;&nbsp;PR # {{ wrss.asset_code.product_number }}, PO # 
        {{ wrss.irr_no.po_number }}&nbsp;&nbsp;&nbsp;&nbsp;</u></b>
    			<br>
    			<br>
    				{{ wrss.asset_code.item_name }}, {{ wrss.asset_code.description }}
				<br>
				<br>
    				
    			<br>
    			<br>
    			<br>
    		</td>
    		<td>	{{ wrss.asset_code.quantity }}
    			<br>
    			<br>
    			<br>
    		</td>
    		<td>	{{ wrss.asset_code.unit_measure }}
    			<br>
    			<br>
    			<br>
    			
    		</td>
  		</tr>
  		<tr>
  			<span>
        <td colspan="4" style="text-align:left">Remarks:
  					<span>
  						<input type="checkbox" name="inspected" value="0"> Inspected, accepted and received above item/s as issued.
						<span style="padding-left:490px"></span>
						WRS NO. <u>&nbsp;&nbsp;{{ wrss.wrs_number }}&nbsp;&nbsp;</u>
  					</span>
  					<br>
					<span style="padding-left:82px"></span>
					<input type="checkbox" name="rejected" value="1"> Rejected due to non-conformance (item/s # __________).<br>
					<span style="padding-left:82px"></span>
					<input type="checkbox" name="return" value="2"> Return damaged item/s for replacement (item/s # _________).<br>
			</span>
			</td>
  		</tr>
  		<tr>
  			<td colspan="2" style="text-align:left;">
        <span style="padding-left:20px"></span>
        	<span style="font-size:90%;font-style:italic">Requsitioned by:</span>	
  					<span style="padding-left:230px"></span>
  				<span style="font-size:90%;font-style:italic">Approved by: (Requisitioning CCH)</span>	
  				<br>
  				<br>
  				<br>
  				
  				<span style="padding-left:20px"></span>
          <span style="font-size:95%;"><u>&nbsp;&nbsp;&nbsp;&nbsp;
  														{{ wrss.irr_no.dce_custodian.name }}
  												&nbsp;&nbsp;&nbsp;&nbsp;</u></span>
  					<span style="padding-left:300px"></span>
  				<span style="font-size:95%;"><u>&nbsp;&nbsp;&nbsp;&nbsp;
  														{{ wrss.irr_no.dce_user.name}}
  												&nbsp;&nbsp;&nbsp;&nbsp;</u></span>
  				<br>
  				
  				<span style="padding-left:20px"></span>
  				<span style="font-size:95%;font-style:italic">Name, Signature and Date</span>
  					<span style="padding-left:250px"></span>
  				<span style="font-size:95%;font-style:italic">Name, Signature and Date</span>
  				<br>

  				<span style="padding-left:18px"></span>
  				<span style="font-size:95%;font-style:italic">DCE No.: </span>{{ wrss.irr_no.dce_custodian.dce }}
  					<span style="padding-left:370px"></span>
  				<span style="font-size:95%;font-style:italic">DCE No.: </span>{{ wrss.irr_no.dce_user.dce }}
  			</td>
  			<td>
        	<p style="font-size:92%;text-align:left;">WRS forwarded to MRC-Central Warehouse on:</p>
  				<p style="font-size:92%;font-style:italic">Date:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																</u></p>
  				<p style="font-size:92%;font-style:italic">Time:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																</u></p>
  				<p style="font-size:92%;font-style:italic">Rec'd:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																</u></p>
  			</td>
  			<td>
  				<p style="font-size:92%;text-align:left;">Item/s issued to the end-user on:</p>
  				
  				<p style="font-size:92%;font-style:italic">Date:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																</u></p>
  				<p style="font-size:92%;font-style:italic">Time:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																</u></p>
  				<p style="font-size:92%;font-style:italic">Rec'd:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  																</u></p>
  			</td>
  		</tr>
  		</table> 
	</div>
</body>
</html>