{% block content %}
  <table style="width:100%;" align="center" class="table">
    <thead>
    	<th>WRS No.</th>
      <th>REQUISITIONED BY:</th>
      <th>APPROVED BY:</th>
      <th>DATE:</th>
    </thead>
   	{% for wrs in wrss %}
     	<tr>
        <td>
          <a href="{% url 'WISH.views.wrs_form' pk=wrs.wrs_number %}">
            {{wrs.wrs_number}}
          </a>
        </td>

        <td>
          {{ wrs.irr_headkey.dce_custodian.name }}
        </td>

        <td>
          {{ wrs.irr_headkey.dce_user.name}}
        </td>

        <td>
          {% now "DATE_FORMAT" %}
        </td>

      </tr>
    {% endfor %}
  </table>
{% endblock %}
