{% load bootstrap %}
{% block content %}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">Sign In</h4>
</div>

{% if form.errors %}
  {}
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
  <br>
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username | bootstrap_horizontal:'col-lg-3' }}</td>
</tr>
<tr>
  <td> <br> </td>
</tr>
<tr>
    <td>{{ form.password | bootstrap_horizontal:'col-lg-3' }}</td>
</tr>
</table>

<br>
<div class="modal-footer">
  <input type="submit" class="save btn btn-info" value="Login" />
</div>
<input type="hidden" name="next" value="{{ next }}" />
<br>
</form>

{% endblock %}
