.circular {
	width: 100px;
	height: 105px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url("../images/sir.jpeg");
	}

	.circular_2 {
		width: 100px;
		height: 105px;
		border-radius: 150px;
		-webkit-border-radius: 150px;
		-moz-border-radius: 150px;
		background: url("../images/sir2.jpg");
	}
	
